{% if settings.currency_selector_show and shop.enabled_currencies.size > 1 %}
    <div class="currency-selector btn-group mx-2 {% if section.index < 2 %}dropdown{% else %}dropup{% endif %}">
        <button
            class="btn btn-sm px-4 d-flex align-items-center dropdown-toggle {{ btn_color | default: 'btn-outline-primary' }}" 
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <div class="me-3">
                {{ localization.country | image_url: width: 18, height: 18 | image_tag }}
            </div>
            <span class="small">
                {{ localization.country.currency.iso_code }}
            </span>
        </button>
        <div class="dropdown-menu shadow" style="min-width: 220px;">
            {% form 'localization' %}
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                <ul 
                    class="list-group list-group-flush small" 
                    aria-labelledby="modal-localization-label">
                    {% for country in localization.available_countries %}
                        <button
                            class="list-group-item list-group-item-action d-flex align-items-center {% if country.iso_code == localization.country.iso_code %}active{% endif %}"
                            data-iso-code="{{ country.iso_code }}"
                            aria-current="{% if country.iso_code == localization.country.iso_code %}true{% endif %}"
                            role="button">
                            <div class="localization-form-item-img me-3" aria-hidden="true">
                                {{ country | image_url: width: 20, height: 20 | image_tag }}
                            </div>
                            <div class="localization-form-item-text d-flex w-100 align-items-center justify-content-between">
                                <span>
                                    {{ country.name }}
                                </span>
                                <small class="opacity-50">
                                    {{ country.currency.iso_code }} {{ country.currency.symbol }}
                                </small>
                            </div>
                        </button>
                    {% endfor %}
                </ul>
            {% endform %}
        </div>
    </div>
{% endif %}