{% comment %}
---------------------------------------------------------
Copyright © 2024 Ecomify Theme. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
---------------------------------------------------------
{% endcomment %}


<ul class="nav nav-links {% if section.settings.layout_desktop == 'navbar-desktop-logo-left'  %}justify-content-center{% endif %}">
    {% for link in linklists[menu_desktop].links %}
        {% liquid 
            if link.title == '|'
                 assign skip_links = true
            endif 
        %}
        {% unless skip_links %}
            {% if link.links == blank %}
                <li class="nav-item">
                    <a
                        class="nav-link rounded {{ section.settings.menu_desktop_font_family }} {{ section.settings.menu_desktop_font_size | prepend: 'fs-' }} {% if link.active %}active{% endif %}" 
                        href="{{ link.url }}"
                        aria-current="{% if link.active %}page{% endif %}">
                        {{ link.title }}
                    </a>
                </li>
            {% else %}
                <li class="nav-item dropdown {% if link.levels > 1 %}position-static{% endif %}">
                    <a 
                        class="nav-link rounded dropdown-toggle {{ section.settings.menu_desktop_font_family }} {{ section.settings.menu_desktop_font_size | prepend: 'fs-' }} {% if link.child_active %}active{% endif %}" 
                        href="#"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"
                        data-index="{{ forloop.index }}"
                        role="button">
                        {{ link.title }}
                    </a>
                    {% if link.levels > 1 %}
                        {% render 'navbar-megamenu-dropdown', link: link %}
                    {% else %}
                        <ul class="dropdown-menu">
                            {% for child_link in link.links %}
                                <li>
                                    <a 
                                        id="navbar-childitem-{{ forloop.index }}" 
                                        class="dropdown-item {% if child_link.active %}active{% endif %}" 
                                        href="{{ child_link.url }}"
                                        aria-current="{% if child_link.active %}page{% endif %}">
                                        {{ child_link.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endunless %}
    {% endfor %}
</ul>

