{% comment %}
---------------------------------------------------------
Copyright © 2024 Ecomify Theme. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
---------------------------------------------------------
{% endcomment %}

{% liquid 
    assign img_size = section.settings.menu_desktop_img_size
    assign img_width = img_size | split: 'x' | first
    assign img_height = img_size | split: 'x' | last
%}

<div class="dropdown-megamenu dropdown-menu">
    <div class="{{ section.settings.container }}">
        <ul class="list-unstyled row">
            {% for child_link in link.links %}
                {% if child_link.title contains '.jpg' or child_link.title contains '.png' or child_link.title contains 'product' %}
                    <li 
                        class="col megamenu-col animate__animated animate__faster animate__fadeInRight"
                        style="animation-delay: {{ forloop.index0 | times: 100 }}ms">
                        <a class="" href="{{ child_link.url }}">
                            {% if child_link.title contains 'product' %}
                                {% liquid 
                                    assign product = child_link.object 
                                %}
                                <img
                                    src="{{ product.featured_image | image_url: width: img_width, height: img_height, crop: 'center' }}"
                                    class="img-fluid mb-3 rounded {{ section.settings.menu_desktop_img_thumbnail }}"
                                    alt="{{ product.featured_image.alt }}"
                                    width="{{ img_width }}"
                                    height="{{ img_height }}"
                                    loading="lazy">
                                <h6 class="product-item-title mb-1">
                                    {{ child_link.title | split: '|' | first }}
                                </h6>
                                <p class="product-item-price mb-0">
                                    {% if product.compare_at_price > product.price %}
                                        <span class="product-item-price-compare text-muted me-1">
                                            <span class="visually-hidden">
                                                {{ 'product.price_regular' | t }} &nbsp;
                                            </span>
                                            <s>{{ product.compare_at_price | money }}</s>
                                        </span>
                                        <span class="product-item-price-final">
                                            <span class="visually-hidden">
                                                {{ 'product.price_sale' | t }} &nbsp;
                                            </span>
                                            {% if product.price_varies %}
                                                {{ 'product.price_from' | t }}
                                            {% endif %}
                                            {{ product.price | money }}
                                        </span>
                                    {% else %}
                                        <span class="product-item-price-final">
                                            {% if product.price_varies %}
                                                {{ 'product.price_from' | t }}
                                            {% endif %}
                                            {{ product.price | money }}
                                        </span>
                                    {% endif %}
                                </p>
                            {% else %}
                                {% assign image = child_link.title | split: '|' | last | strip %}
                                <img
                                    src="{{ image | file_img_url: img_size , crop: 'center' }}"
                                    class="img-fluid mb-2 rounded {{ section.settings.menu_desktop_img_thumbnail }}"
                                    alt=""
                                    width="{{ img_width }}"
                                    height="{{ img_height }}"
                                    loading="lazy">
                                <span class="">
                                    {{ child_link.title | split: '|' | first }}
                                </span>
                            {% endif %}
                        </a>
                    </li>
                {% else %}
                    <li 
                        class="col animate__animated animate__faster animate__fadeInRight"
                        style="animation-delay: {{ forloop.index0 | times: 100 }}ms">
                        {% if child_link.url == '#' %}
                            <h6 id="navbar-childitem-{{ forloop.index }}" class="px-5">
                                {{ child_link.title }}
                            </h6>
                        {% else %}
                            <a 
                                class="dropdown-item rounded dropdown-item-level-2 {% if child_link.active %}active{% endif %}" 
                                href="{{ child_link.url }}"
                                aria-current="{% if child_link.active %}page{% endif %}">
                                {{ child_link.title }}
                            </a>
                        {% endif %}
                        <ul class="list-unstyled">
                            {% for grandchild_link in child_link.links %}
                                <li>
                                    <a 
                                        id="navbar-grandchilditem-{{ forloop.index }}" 
                                        class="dropdown-item rounded dropdown-item-level-3 {% if grandchild_link.active %}active{% endif %}" 
                                        href="{{ grandchild_link.url }}"
                                        aria-current="{% if grandchild_link.active %}page{% endif %}">
                                        • {{ grandchild_link.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>