{% style %}
.custom-benefits_txt-btn{
    margin-bottom: 30px;
    margin-top: 25px;
}
.prod_benefit .page-width{
    padding: 0 8rem;
} 
@media screen and (max-width:980px){
    .prod_benefit .page-width{
        padding: 0 1.5rem;
    } 
}

{% endstyle %}

{% assign bg_color = section.settings.bg_color %}
{% assign img_bg_desktop = section.settings.img_bg %}
{% assign img_bg_mobile = section.settings.img_bg_mobile %}

<div class="prod_benefit {% if section.settings.fifty_percent != blank %} benefits_img_fifty {% endif %}">
    <div class="page-width">
        <div class="prod_benefit_wrap">
            <div class="benefits_txt">
                <h1>{{ section.settings.heading }}</h1>
                <div class="rte">
                    {{ section.settings.text }}
                </div>
                {% unless product.handle contains 'pack' %}
                    <a class="custom-benefits_txt-btn btn btn-primary"  href="{{ section.settings.btn_link }}">{{ section.settings.btn_label }}</a>
                {% endunless %}

            </div>
            <div class="benefits_img img_bg_color">
                {% assign media = section.settings.image %}
                <img
                  srcset="{%- if media.width >= 375 -%}{{ media | image_url: width: 375 }} 375w,{%- endif -%}
                  {%- if media.width >= 550 -%}{{ media | image_url: width: 550 }} 550w,{%- endif -%}
                  {%- if media.width >= 750 -%}{{ media | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if media.width >= 1100 -%}{{ media | image_url: width: 1100 }} 1100w,{%- endif -%}
                  {%- if media.width >= 1500 -%}{{ media | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {%- if media.width >= 1780 -%}{{ media | image_url: width: 1780 }} 1780w,{%- endif -%}
                  {%- if media.width >= 2000 -%}{{ media | image_url: width: 2000 }} 2000w,{%- endif -%}
                  {%- if media.width >= 3000 -%}{{ media | image_url: width: 3000 }} 3000w,{%- endif -%}
                  {%- if media.width >= 3840 -%}{{ media | image_url: width: 3840 }} 3840w,{%- endif -%}
                  {{ media | image_url }} {{ media.width }}w"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(60vw - 10px), calc(100vw - 10px)"
                  loading="lazy" 
                  alt="{{ media.alt | escape }}"
                  width="{{ media.width }}"
                  height="{{ media.width | divided_by: media.aspect_ratio }}"
                  src="{{ media | img_url: '516x655' }}">
            </div>
        </div>
    </div>
</div>

<style>
.prod_benefit {
    background: {{ bg_color }};
}
.prod_benefit_wrap {
    display: flex;
    align-items: center;
    padding-top:60px;
}
.benefits_img_fifty .benefits_txt {
    width:45%;
    margin-right:100px;
}
.benefits_img_fifty .benefits_img {
    width: 55%;
}
.benefits_txt {
    width: 55%;
    margin-right:150px;
}

.img_bg_color img{
    background-color: {{ img_bg_desktop }};
}

.benefits_img {
    width: 25%;
} 
.benefits_img img{
    width:100%;
    height:100%;
}
.benefits_txt ul {
    list-style-type: none;
    padding-inline-start: 10px;
    margin: 20px 0 30px 0;
}
.benefits_txt li::before {content: '';background-image: url(https://cdn.shopify.com/s/files/1/0080/8229/2789/files/bullets.png?v=1641403011);height: 10px;width: 10px;background-size: contain;background-repeat: no-repeat;position: absolute;left: -4px;top: 16px;}

.benefits_txt li {
    position: relative;
    padding: 10px 0 10px 24px;
}
.benefits_txt li p{
    margin:0;
}
.benefits_txt h1 {
    margin-bottom:0;
}

@media only screen and (min-width:769px){
.prod_benefit .page-width{
    padding-right:0;
    max-width: 100%;
}
}
@media only screen and (max-width:767px){
    .prod_benefit{
        padding-top:20px;
    }
    .prod_benefit_wrap{
        flex-direction:column;
        column-gap:unset;
    }
    .benefits_img_fifty .benefits_txt,
    .benefits_img_fifty .benefits_img{
        width: 100%;
        margin-right:0;
    }
    .benefits_txt,
    .benefits_img {
        width: 100%;
        margin-right:0;
    }
    .benefits_txt {
        width: 100%;
        padding-left:10px;
    }
    .benefits_txt h1{
        font-size: 24px;
    }
    .benefits_txt h1 br {
        display: none;
    }
    .benefits_txt {
        margin-bottom:40px;
    }
    .benefits_img img{
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
    }
    .benefits_txt a {
        margin-left: 0;
        padding: 15px 40px;
    }
    .img_bg_color img{
        background-color: {{ img_bg_mobile }};
    }
}

@media only screen and (max-width:1280px)
{
  .prod_benefit_wrap
  {
    flex-direction: column-reverse;
  }
  .benefits_txt
  {
    width:90%;
    padding-left: 0px;
    margin-right:8%;
  }
}
</style>

{% schema %}
{
  "name": "Affilate - Toothpaste",
  "tag": "section",
  "class": "spaced-section--full-width affiliate_toothpaste",
  "settings": [
    {
        "type": "checkbox",
        "id": "fifty_percent",
        "label": "50% Image Size",
        "default": false
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
       "default": "#ECEDE8"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
        "type": "header",
        "content": "Use Pipe Filter to have multipe bullets points"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Ingredients Here</p>"
    },
    {
        "type": "text",
        "id": "btn_label",
        "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button LInk"
    },
    {
        "type": "checkbox",
        "id": "btn_style",
        "label": "Underlined?",
        "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
        "type": "color",
        "id": "img_bg",
        "label": "Image Background Desktop"
    },
    {
        "type": "color",
        "id": "img_bg_mobile",
        "label": "Image Background Mobile"
    }
  ],
  "presets": [
    {
      "name": "Affilate - Toothpaste Section"
    }
  ]
}
{% endschema %}
