{% style %}
    .cust_img_txt{
        padding: 0 8rem;
    }

    @media screen and (max-width:980px){
        .cust_img_txt{
            padding: 0 1.5rem;
        }
    }

{% endstyle %}

{% assign bg_color = section.settings.bg_color %}
{% assign txt_color = section.settings.txt_color %}
{% assign btn_color = section.settings.btn_color %}
<div id="affiliate_kattie" class="page-width cust_img_txt {% if txt_color == 'white' %}color_white{% endif %}">
    <div class="cust_img_txt_wrap {% if section.settings.mobile_reverse != blank %}column_reverse{% endif %}">
        <div class="cust_img_txt_content">
           
            <h1>{{ section.settings.heading }}</h1>
            {% if section.settings.subtitle != blank %}
                <h4>{{ section.settings.subtitle }}</h4>
            {% endif %}
            <div class="rte">
                {{ section.settings.text }}
            </div>
            <div class="custom_img_text_btn_wrap">
                {% if section.settings.btn-label != blank %}
                    <a href="{{ section.settings.btn-link }}" class="button button--secondary" >{{ section.settings.btn-label }}</a>
                {% endif %}
            </div>
        </div>
        <div class="cust_img_txt_img">
            <img loading="lazy" src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt}}" width="{{ section.settings.image.width }}" height="{{ section.settings.image.height }}">
        </div>
    </div>
</div>

<style>
{% if section.settings.section_logo != blank %}
#shopify-section-{{ section.id }}.affiliate_kattie::before {
      content: '';
      position: absolute;
      opacity: .1;
      bottom: 0;
      left: 10px;
      background: url(https://cdn.shopify.com/s/files/1/0080/8229/2789/files/wellness-text-spacing-and-dashed-removed-removebg-preview.png?v=1644218313) no-repeat;
      background-size: contain;
      height: 80px;
      width: 40%;
  }
{% endif %}
#shopify-section-{{ section.id }}{
    background:{{ bg_color }};
}
.affiliate_kattie .color_white h1,
.affiliate_kattie .color_white .rte{
    color:#fff;
}
.affiliate_kattie .cust_img_txt_wrap {
    display: flex;
    align-items: center;
    padding-top:60px;
    padding-bottom:50px;
}

.affiliate_kattie .cust_img_txt_img img {
    width: 100%;
    height:auto;
}

.affiliate_kattie .cust_img_txt_content {
    width: 50%;
    padding-right: 80px;
}

.affiliate_kattie .cust_img_txt_img {
    width: 50%;
}

.affiliate_kattie .cust_img_txt_content h1 {
    font-size: 28px;
}

.affiliate_kattie .cust_img_txt_content h4 {
    color: #e15e54;
    font-size: 17px;
    font-weight: 700;
}

.affiliate_kattie .custom_img_text_btn_wrap {
    margin-top: 40px;
}

.affiliate_kattie .custom_img_text_btn_wrap a {
    padding: 20px 100px;
    box-shadow: unset;
}
#shopify-section-{{ section.id }} .custom_img_text_btn_wrap a {
    color:{{ btn_color }};
    border-color:{{ btn_color }};
}
.affiliate_kattie .custom_img_text_btn_wrap a:hover{
    outline:none !important;
    box-shadow:none !important;
}

.affiliate_kattie .cust_img_txt_content span {
    color: #e15e54;
}

.affiliate_kattie {
    margin-top: 0 !important;
    position: relative;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
.affiliate_kattie .cust_img_txt_img {
    margin-top: unset;
  }
  .cust_img_txt_content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .affiliate_kattie .cust_img_txt_wrap{
    padding-top:0;
    padding-bottom:0;
  }

  .cust_img_txt_wrap 
  {
    display: flex;
    flex-direction: column-reverse;
  }
  .affiliate_kattie .cust_img_txt_content {
    width: 100%;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px){
  .affiliate_kattie .cust_img_txt_wrap{
    padding-top:0;
    padding-bottom:0;
  }
  .affiliate_kattie   .cust_img_txt_wrap.column_reverse {
    flex-direction: column-reverse;
  }
  .affiliate_kattie {
    margin-top:90px;
    padding:0;
  }
  .affiliate_kattie .cust_img_txt_wrap{
    flex-wrap: wrap;
  }
  .affiliate_kattie .cust_img_txt_content {
    padding-top: 20px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0;
    width: 100%;
  }
  .affiliate_kattie .cust_img_txt_img{
    width: 100%;
  }
  .affiliate_kattie .cust_img_txt_content h1{
    font-size: 24px;
  }
  .affiliate_kattie .cust_img_txt_img {
    margin-top: 20px;
  }
  .affiliate_kattie .column_reverse .cust_img_txt_img{
    margin-top:0;
  }
  .affiliate_kattie .column_reverse .cust_img_txt_content{
    margin-bottom:50px;
  }
  .affiliate_kattie::before{
    content:unset;
  }
  .affiliate_kattie .custom_img_text_btn_wrap a {
    padding: 10px 50px;
}
}
</style>
  {% schema %}
  {
    "name": "Affiliate- Kattie",
    "tag": "section",
    "class": "affiliate_kattie spaced-section spaced-section--full-width",
    "settings": [
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color"
          },
          {
            "type": "select",
            "id": "txt_color",
            "options": [
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "black",
                "label": "Black"
              }
            ],
            "default": "black",
            "label": "Text Color"
          },
          {
            "type": "color",
            "id": "btn_color",
            "label": "btn Color"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "subtitle",
            "default": "-- KATIE WELLS, WELLNESS MAMA --",
            "label": "Sub Title"
          },
          {
            "type": "textarea",
            "id": "heading",
            "default": "Heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text Area"
          },
          {
            "type": "text",
            "id": "btn-label",
            "label": "Button Label"
          },
          {
            "type": "url",
            "id": "btn-link",
            "label": "Button Link"
          },
          {
            "type": "checkbox",
            "id": "section_logo",
            "label": "Enable Wellnesse Logo",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "mobile_reverse",
            "label": "Image Above Text on moible",
            "default": false
          }
    ],
    "presets": [
      {
        "name": "Affiliate- Kattie"
      }
    ]
  }
  {% endschema %}
  