<div class="img_text_banner">
    <div class="content">
        <h1>{{ section.settings.heading }}</h1>
        <p>{{ section.settings.text }}</p>
    </div>
    <img loading="lazy" src="{{ section.settings.image | img_url: 'master' }}">
</div>
<style>
.img_text_banner {position: relative;background: {{section.settings.bg_color }};}

.img_text_banner .content {position: absolute;max-width: 700px;margin: 0 auto;left: 0;right: 0;top: 10px;text-align: center;}

.img_text_banner .content h1 {font-size: 24px;font-weight: 700;}

.img_text_banner .content p {opacity: .9;}

.img_text_banner img {width: 100%;}

.img_text_banner .content h1,
.img_text_banner .content p{
  color:{{ section.settings.text_color }};
}

{% if section.settings.text_left != blank %}
  .img_text_banner .content {
      position: absolute;
      max-width: 700px;
      margin-left: 100px;
      left: 100px;
      right: 0;
      top: 100px;
      text-align: left;
  }
  @media only screen and (max-width:767px){
    .img_text_banner .content{
      margin-left:0;
    }
  }
{% endif %}

@media only screen and (max-width:767px){
    .img_text_banner .content {position: unset;padding: 15px;}

    /* .img_text_banner .content h1 {color: #000;}

    .img_text_banner .content p {color: #000;} */
}

@media only screen and (max-width:1024px)
{
  .img_text_banner .content
    {
      margin-left: 26px;
      right: 60px;
      top: 83px;
      left: 0;
    }
}

@media only screen and (max-width:980px)
{
  .img_text_banner .content
    {
      top: 5px;
      left: 0;
      max-width: 546px;
    }
}

</style>
  {% schema %}
  {
    "name": "Affiliat- Image Overlay",
    "tag": "section",
    "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "heading",
          "default": "Heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text Area"
        },
        {
          "type":"checkbox",
          "id": "text_left",
          "label": "Left Align Text"
        },
        {
          "type":"color",
          "id": "text_color",
          "label": "Text Color"
        },
        {
          "type":"color",
          "id": "bg_color",
          "label": "Background Color"
        }
    ],
    "presets": [
      {
        "name": "Affiliat- Image Overlay"
      }
    ]
  }
  {% endschema %}
  