{{ 'component-image-with-text-min.css' | asset_url | stylesheet_tag }}
<!-- custom css -->
<style>
      {% if section.settings.logo != blank %}
      #shopify-section-{{ section.id }} .image-with-text__text-item{
        position: relative;
      }
      #shopify-section-{{ section.id }} .image-with-text__text-item:after {
        content: '';
        position: absolute;
        opacity: .1;
        bottom: 0;
        left: 60px;
        background: url(https://cdn.shopify.com/s/files/1/0080/8229/2789/files/wellness-text-spacing-and-dashed-removed-removebg-preview.png?v=1644218313) no-repeat;
        background-size: contain;
        height: 80px;
        width: 100%;
      }
    {% endif %}

    {% if section.settings.zero_spacing != blank %}
        #shopify-section-{{ section.id }}.img_text_sec{
          padding-top:0;
          margin-top:0;
          padding-bottom:0;
        }
        #shopify-section-{{ section.id }} .image-with-text{
          margin-bottom: 0;
          margin-top: 0;
        }
    {% endif %}

    {% if section.settings.custom_bg_color != blank %}
      {% assign bg_color = section.settings.bg_color %}
        #shopify-section-{{ section.id }}.img_text_sec,
        #shopify-section-{{ section.id }}.img_text_sec .gradient{
          background-color: {{ bg_color }};
        }
    {% endif %}
    {% if section.settings.full_width_sec %}
      #shopify-section-{{ section.id }} .image-with-text.page-width.image-with-text--no-overlap.color-scheme-background-1{
        max-width:100% !important;
      }

    {% endif %}
    @media only screen and (max-with:767px){
      #shopify-section-{{ section.id }} .image-with-text {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    {% if section.settings.section_css != blank %}
      {{ section.settings.section_css }}
    {% endif %}
    {% if section.settings.remove_left_margin %}
       #shopify-section-{{ section.id }} .image-with-text{
         margin-left: 0 !important;
         padding-left: 0 !important;
    }
    {% endif %}
    {% if section.settings.remove_right_margin %}
       #shopify-section-{{ section.id }} .image-with-text{
         margin-right: 0 !important;
         padding-right: 0 !important;
    }
    {% endif %}
     {% if section.settings.remove_top_margin %}
      #shopify-section-{{ section.id }}{
        margin-top: 0 !important;
    }
    {% endif %}
    @media screen and (max-width:768px){
      #shopify-section-{{ section.id }} .image-with-text{
        padding: 0 1.5rem !important;
        margin: 0 auto !important;
      }
      #shopify-section-{{ section.id }} .padding-top_mob{
        padding-top: 40px !important;
      }
    }
</style>
<div class="image-with-text {% if section.settings.padding_top_mob %} padding-top_mob {% endif %}{% if section.settings.enlarge_text != blank %}enlarged{% endif %} {% if section.settings.full_width %}image-with-text--full-width{% else %}page-width{% endif %} image-with-text--{{ section.settings.content_layout }} color-scheme-{{ section.settings.color_scheme }}">
  <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}{% if section.settings.content_layout == 'no-overlap' %} gradient color-{{ section.settings.color_scheme }}{% endif %}">
    <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
      <div
        class="image-with-text__media image-with-text__media--{{ section.settings.height }} {% if section.settings.image != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
        {% if section.settings.height == 'adapt' and section.settings.image != blank %}
          style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
        {% endif %}
      >
        {%- if section.settings.image != blank -%}
          <img
            srcset="
              {%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
              {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
              {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
              {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
              {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
              {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
              {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w
            "
            src="{{ section.settings.image | img_url: '1500x' }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ section.settings.image.alt | escape }}"
            loading="lazy"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.height }}"
          >
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    </div>
    <div class="image-with-text__text-item grid__item">
      <div
        id="ImageWithText--{{ section.id }}"
        class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }}"
      >
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'heading' -%}
              <h2
                class="image-with-text__heading {% if section.settings.enlarge_heading %} enlarged_heading {% endif %} {{ block.settings.heading_size }}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.heading }}
              </h2>
            {%- when 'Subheading' -%}
              <h3 class="image-with-text__subheading" {{ block.shopify_attributes }}>
                {{ block.settings.subheading }}
              </h3>
            {%- when 'caption' -%}
              <p
                class="image-with-text__text image-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'logo' -%}
              {% assign img = block.settings.logo %}
              <img
                class="star_rating_logo"
                srcset="
                  {%- if img.width >= 375 -%}{{ img | image_url: width: 375 }} 375w,{%- endif -%}
                  {%- if img.width >= 550 -%}{{ img | image_url: width: 550 }} 550w,{%- endif -%}
                  {%- if img.width >= 750 -%}{{ img | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if img.width >= 1100 -%}{{ img | image_url: width: 1100 }} 1100w,{%- endif -%}
                  {%- if img.width >= 1500 -%}{{ img | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ img | image_url }} {{ img.width }}w
                "
                sizes="(min-width: {{ settings.page_width }}px) 50px, 50px"
                loading="lazy"
                alt="{{ img.alt | escape }}"
                width="{{ img.width }}"
                height="{{ img.width | divided_by: img.aspect_ratio }}"
                src="{{ img | img_url: '45x55' }}"
              >
            {%- when 'text' -%}
              <div
                class="image-with-text__text rte {{ block.settings.text_style }} {% if section.settings.paragraph_spacing %} enable-paragraph__spacing {% endif %}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.text }}
              </div>
            {%- when 'button' -%}
              {%- if block.settings.button_label != blank -%}
                <a
                  {% if block.settings.button_link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link }}"
                  {% endif %}
                  class="btn btn-primary"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.button_label | escape }}
                </a>
              {%- endif -%}
            {%- when 'icons' -%}
              <div class="promo_icons">
                {% if block.settings.is_single_icon != blank %}
                  {% assign single_icon = block.settings.single_icon %}
                  <img
                    class="single_icon"
                    srcset="
                      {%- if single_icon.width >= 375 -%}{{ single_icon | image_url: width: 375 }} 375w,{%- endif -%}
                      {%- if single_icon.width >= 550 -%}{{ single_icon | image_url: width: 550 }} 550w,{%- endif -%}
                      {%- if single_icon.width >= 750 -%}{{ single_icon | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if single_icon.width >= 1100 -%}{{ single_icon | image_url: width: 1100 }} 1100w,{%- endif -%}
                      {%- if single_icon.width >= 1500 -%}{{ single_icon | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {{ single_icon | image_url }} {{ single_icon.width }}w
                    "
                    sizes="(min-width: {{ settings.page_width }}px) 400px, (min-width: 750px) 400px, 400px"
                    loading="lazy"
                    alt="{{ single_icon.alt | escape }}"
                    width="{{ single_icon.width }}"
                    height="{{ single_icon.width | divided_by: single_icon.aspect_ratio }}"
                    src="{{ single_icon | img_url: '400px' }}"
                  >
                {% else %}
                  {% assign icon1 = block.settings.icon1 %}
                  {% if icon1 != blank %}
                    <img
                      srcset="
                        {%- if icon1.width >= 375 -%}{{ icon1 | image_url: width: 375 }} 375w,{%- endif -%}
                        {%- if icon1.width >= 550 -%}{{ icon1 | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if icon1.width >= 750 -%}{{ icon1 | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if icon1.width >= 1100 -%}{{ icon1 | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if icon1.width >= 1500 -%}{{ icon1 | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {{ icon1 | image_url }} {{ icon1.width }}w
                      "
                      sizes="(min-width: {{ settings.page_width }}px) 85px, (min-width: 750px) 85px, 75px"
                      loading="lazy"
                      alt="{{ icon1.alt | escape }}"
                      width="{{ icon1.width }}"
                      height="{{ icon1.width | divided_by: icon1.aspect_ratio }}"
                      src="{{ icon1 | img_url: '85px' }}"
                    >
                  {% endif %}

                  {% assign icon2 = block.settings.icon2 %}
                  {% if icon2 != blank %}
                    <img
                      srcset="
                        {%- if icon1.width >= 375 -%}{{ icon2 | image_url: width: 375 }} 375w,{%- endif -%}
                        {%- if icon2.width >= 550 -%}{{ icon2 | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if icon2.width >= 750 -%}{{ icon2 | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if icon2.width >= 1100 -%}{{ icon2 | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if icon2.width >= 1500 -%}{{ icon2 | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {{ icon2 | image_url }} {{ icon2.width }}w
                      "
                      sizes="(min-width: {{ settings.page_width }}px) 85px, (min-width: 750px) 85px, 75px"
                      loading="lazy"
                      alt="{{ icon2.alt | escape }}"
                      width="{{ icon2.width }}"
                      height="{{ icon2.width | divided_by: icon2.aspect_ratio }}"
                      src="{{ icon2 | img_url: '85px' }}"
                    >
                  {% endif %}

                  {% assign icon3 = block.settings.icon3 %}
                  {% if icon3 != blank %}
                    <img
                      srcset="
                        {%- if icon3.width >= 375 -%}{{ icon3 | image_url: width: 375 }} 375w,{%- endif -%}
                        {%- if icon3.width >= 550 -%}{{ icon3 | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if icon3.width >= 750 -%}{{ icon3 | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if icon3.width >= 1100 -%}{{ icon3 | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if icon3.width >= 1500 -%}{{ icon3 | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {{ icon3 | image_url }} {{ icon3.width }}w
                      "
                      sizes="(min-width: {{ settings.page_width }}px) 85px, (min-width: 750px) 85px, 75px"
                      loading="lazy"
                      alt="{{ icon3.alt | escape }}"
                      width="{{ icon3.width }}"
                      height="{{ icon3.width | divided_by: icon3.aspect_ratio }}"
                      src="{{ icon3 | img_url: '85px' }}"
                    >
                  {% endif %}

                  {% assign icon4 = block.settings.icon4 %}
                  {% if icon4 != blank %}
                    <img
                      srcset="
                        {%- if icon4.width >= 375 -%}{{ icon4 | image_url: width: 375 }} 375w,{%- endif -%}
                        {%- if icon4.width >= 550 -%}{{ icon4 | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if icon4.width >= 750 -%}{{ icon4 | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if icon4.width >= 1100 -%}{{ icon4 | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if icon4.width >= 1500 -%}{{ icon4 | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {{ icon4 | image_url }} {{ icon4.width }}w
                      "
                      sizes="(min-width: {{ settings.page_width }}px) 85px, (min-width: 750px) 85px, 75px"
                      loading="lazy"
                      alt="{{ icon4.alt | escape }}"
                      width="{{ icon4.width }}"
                      height="{{ icon4.width | divided_by: icon4.aspect_ratio }}"
                      src="{{ icon4 | img_url: '85px' }}"
                    >
                  {% endif %}

                  {% assign icon5 = block.settings.icon5 %}
                  {% if icon5 != blank %}
                    <img
                      srcset="
                        {%- if icon5.width >= 375 -%}{{ icon5 | image_url: width: 375 }} 375w,{%- endif -%}
                        {%- if icon5.width >= 550 -%}{{ icon5 | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if icon5.width >= 750 -%}{{ icon5 | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if icon5.width >= 1100 -%}{{ icon5 | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if icon5.width >= 1500 -%}{{ icon5 | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {{ icon5 | image_url }} {{ icon5.width }}w
                      "
                      sizes="(min-width: {{ settings.page_width }}px) 85px, (min-width: 750px) 85px, 75px"
                      loading="lazy"
                      alt="{{ icon5.alt | escape }}"
                      width="{{ icon5.width }}"
                      height="{{ icon5.width | divided_by: icon5.aspect_ratio }}"
                      src="{{ icon5 | img_url: '85px' }}"
                    >
                  {% endif %}

                  {% assign icon6 = block.settings.icon6 %}
                  {% if icon6 != blank %}
                    <img
                      srcset="
                        {%- if icon5.width >= 375 -%}{{ icon6 | image_url: width: 375 }} 375w,{%- endif -%}
                        {%- if icon6.width >= 550 -%}{{ icon6 | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if icon6.width >= 750 -%}{{ icon6 | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if icon6.width >= 1100 -%}{{ icon6 | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if icon6.width >= 1500 -%}{{ icon6 | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {{ icon6 | image_url }} {{ icon6.width }}w
                      "
                      sizes="(min-width: {{ settings.page_width }}px) 85px, (min-width: 750px) 85px, 75px"
                      loading="lazy"
                      alt="{{ icon6.alt | escape }}"
                      width="{{ icon6.width }}"
                      height="{{ icon6.width | divided_by: icon6.aspect_ratio }}"
                      src="{{ icon6 | img_url: '85px' }}"
                    >
                  {% endif %}
                {% endif %}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "custom-image-with-text",
  "class": "spaced-section spaced-section--full-width img_text_sec remove_margins",
  "settings": [
  {
    "type": "checkbox",
    "id": "custom_bg_color",
    "default": true,
    "label": "Custom Background"
  },
  {
    "type": "checkbox",
    "id": "padding_top_mob",
    "default": false,
    "label": "Enable Padding in Mobile"
  },
  {
    "type": "checkbox",
    "id": "enlarge_heading",
    "default": false,
    "label": "Enlarge Heading"
  },
  {
    "type": "checkbox",
    "id": "paragraph_spacing",
    "default": false,
    "label": "Increase Paragraph Spacing"
  },
  {
    "type": "checkbox",
    "id": "full_width_sec",
    "default": false,
    "label": "Full Width Section"
  },
  {
    "type": "checkbox",
    "id": "remove_left_margin",
    "default": false,
    "label": "Remove Left Margin"
  },
  {
    "type": "checkbox",
    "id": "remove_right_margin",
    "default": false,
    "label": "Remove Right Margin"
  },
  {
    "type": "checkbox",
    "id": "remove_top_margin",
    "default": false,
    "label": "Remove Top Margin"
  },
  {
    "type": "color",
    "id": "bg_color",
    "default":"#eeeeee",
    "label": "Background Color"
  },
  {
    "type": "checkbox",
    "id": "zero_spacing",
    "default": false,
    "label": "Zero Spacing"
  },
  {
    "type": "checkbox",
    "id": "logo",
    "default": false,
    "label": "Enable Wellnesse Logo"
  },
  {
    "type": "checkbox",
    "id": "enlarge_text",
    "default": false,
    "label": "Enlarge Text And Button"
  },
    {
      "type": "image_picker",
      "id": "image",
      "label": "image"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "options__1"
        },
        {
          "value": "small",
          "label": "options__2"
        },
        {
          "value": "large",
          "label": "options__3"
        }
      ],
      "default": "adapt",
      "label": "height"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "width-options__1"
        },
        {
          "value": "medium",
          "label": "width-options__2"
        },
        {
          "value": "large",
          "label": "width-options__3"
        }
      ],
      "default": "medium",
      "label": "desktop_image_width",
      "info": "desktop_image_width"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "layout-options__1"
        },
        {
          "value": "text_first",
          "label": "layout-options__2"
        }
      ],
      "default": "image_first",
      "label": "layout",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.image-with-text.settings.content_layout.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.image-with-text.settings.color_scheme.options__1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.image-with-text.settings.color_scheme.options__2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.image-with-text.settings.color_scheme.options__3.label"
        },
        {
          "value": "accent-1",
          "label": "t:sections.image-with-text.settings.color_scheme.options__4.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.image-with-text.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.image-with-text.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
      {
      "type": "html",
      "id": "section_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image with text",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.image-with-text.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.image-with-text.blocks.heading.settings.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.image-with-text.blocks.heading.settings.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.image-with-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "label": "Outlined Button",
          "default":false
        }
      ]
    },
    {
      "type": "Subheading",
      "name": "Sub Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "default": "Sub Heading",
          "label": "Subheading",
          "info": "Subheading"
        }
      ]
    },
    {
      "type": "logo",
      "name": "Logo Icon",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo Icon"
        }
      ]
    },
    {
      "type": "icons",
      "name": "Icons",
      "limit": 1,
      "settings": [
      {
        "type": "checkbox",
        "id": "is_single_icon",
        "label": "Use Single Icon",
        "default":false
      },
      {
        "type": "image_picker",
        "id": "single_icon",
        "label": "Single Icon"
      },
        {
          "type": "image_picker",
          "id": "icon1",
          "label": "Icon 1"
        },
        {
          "type": "image_picker",
          "id": "icon2",
          "label": "Icon 2"
        },
        {
          "type": "image_picker",
          "id": "icon3",
          "label": "Icon 3"
        },
        {
          "type": "image_picker",
          "id": "icon4",
          "label": "Icon 4"
        },
        {
          "type": "image_picker",
          "id": "icon5",
          "label": "Icon 5"
        },
        {
          "type": "image_picker",
          "id": "icon6",
          "label": "Icon 6"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "custom-image-with-text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
