{% comment %}
---------------------------------------------------------
Copyright © 2024 Ecomify Theme. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
---------------------------------------------------------
{% endcomment %}

{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif

    assign visibility = ''

    if section.settings.visibility_xs == false
        assign visibility = 'd-none'
    endif

    if section.settings.visibility_md
        assign visibility = ' d-md-block' | prepend: visibility
    else 
        assign visibility = ' d-md-none' | prepend: visibility
    endif

    if section.settings.visibility_lg
        assign visibility = ' d-lg-block' | prepend: visibility
    else 
        assign visibility = ' d-lg-none' | prepend: visibility
    endif

    if customer
        assign show_section = section.settings.access_members
    else
        assign show_section = section.settings.access_guests
    endif
%}

{% if show_section %}
<section 
    id="duel-columns-with-media-{{ section.id }}" 
    class="duel-columns-with-media enter-view  {{ section.settings.bg_color }} {{ pt }} {{ pb }} {{ mt }} {{ mb }} {{ visibility }}">
    <div class="{{ section.settings.container }}" style="max-width: {{ section.settings.max_width }}px;">
       {% unless section.settings.title == blank %}
    <h2 class="title mb-8 fs-{{ section.settings.title_font_size_mobile }} fs-lg-{{ section.settings.title_font_size_desktop }} {{ section.settings.text_align }}">
        {{ section.settings.title }}
    </h2>
{% endunless %}
{% unless section.settings.description == blank %}
    <div class="description mb-8 fs-{{ section.settings.description_font_size_mobile }} fs-lg-{{ section.settings.description_font_size_desktop }} {{ section.settings.text_align }}">
        {{ section.settings.description }}
    </div>
{% endunless %}
        <div class="row align-items-center {{ section.settings.media_align }}">
            <div class="col-lg-6 pb-5 pb-lg-0">
                <div 
                    class="animate__animated animate__faster opacity-0 {{ section.settings.ratio }}"
                    data-animate-class="animate__zoomIn"
                    style="animation-delay: 0;">
                    {% if section.settings.video_desktop != blank or section.settings.video_mobile != blank %}
                        <video
                            class="img-fluid w-100 d-lg-none rounded {{ section.settings.img_border }}"
                            src="{{ section.settings.video_mobile }}"
                            {% if section.settings.autoplay %}autoplay{% endif %}
                            {% if section.settings.loop %}loop{% endif %}
                            {% if section.settings.muted %}muted{% endif %}
                            {% if section.settings.controls %}controls{% endif %}
                            loading="lazy">
                        </video>
                        <video
                            class="img-fluid w-100 d-none d-lg-block rounded {{ section.settings.img_border }}"
                            src="{{ section.settings.video_desktop }}"
                            {% if section.settings.autoplay %}autoplay{% endif %}
                            {% if section.settings.loop %}loop{% endif %}
                            {% if section.settings.muted %}muted{% endif %}
                            {% if section.settings.controls %}controls{% endif %}
                            loading="lazy">
                        </video>
                    {% else %}
                        <img
                            class="img-fluid w-100 d-lg-none rounded {{ section.settings.img_border }}"
                            src="{{ section.settings.image_mobile.src | image_url }}"
                            alt="{{ section.settings.image_mobile.alt | escape }}"
                            width="{{ section.settings.image_mobile.width }}"
                            height="{{ section.settings.image_mobile.height }}"
                            loading="lazy">
                        <img
                            class="img-fluid w-100 d-none d-lg-block rounded {{ section.settings.img_border }}"
                            src="{{ section.settings.image_desktop.src | image_url }}"
                            alt="{{ section.settings.image_desktop.alt | escape }}"
                            width="{{ section.settings.image_desktop.width }}"
                            height="{{ section.settings.image_desktop.width }}"
                            loading="lazy">
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled" aria-label="Various features">
                    {% for block in section.blocks %}
                        <li class="py-5">
                            <div class="d-flex {{ block.settings.text_align }}">
                                <div class="flex-shrink-0 me-5">
                                    {% if block.settings.video != blank %}
                                        <video
                                            class="img-fluid rounded-circle me-4 {{ block.settings.ratio }}"
                                            src="{{ block.settings.video }}"
                                            {% if block.settings.autoplay %}autoplay{% endif %}
                                            {% if block.settings.loop %}loop{% endif %}
                                            {% if block.settings.muted %}muted{% endif %}
                                            {% if block.settings.controls %}controls{% endif %}
                                            loading="lazy">
                                        </video>
                                    {% elsif block.settings.img != blank %}
                                        <img
                                            class="img-fluid rounded {{ section.settings.img_border }}"
                                            src="{{ block.settings.img.src | image_url: width: 100, height: 100, crop: 'center' }}"
                                            alt="{{ block.settings.img.alt | escape }}"
                                            width="100"
                                            height="100"
                                            loading="lazy">
                                    {% endif %}
                                </div>
                                <div class="">
                                    <h3 class="title text-secondary mb-3 fs-{{ block.settings.title_font_size_mobile }} fs-lg-{{ block.settings.title_font_size_desktop }} {{ block.settings.text_align }}">
                                        {{ block.settings.title }}
                                    </h3>
                                    <div class="description rte mb-3 fs-{{ block.settings.description_font_size_mobile }} fs-lg-{{ block.settings.description_font_size_desktop }} {{ block.settings.text_align }}">
                                        {{ block.settings.description }}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="text-center mt-7">
            {% unless section.settings.btn_text == blank %}
                <a 
                    href="{{ section.settings.btn_url }}" 
                    class="btn px-8 py-3 mb-4 {{ section.settings.btn_color }} {{ section.settings.btn_size }}">
                    {{ section.settings.btn_text }}
                </a>
            {% endunless %}
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
    "name": "duel-columns-with-media",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "media_align",
            "label": "Media alignment",
            "info": "Note: On mobile Media will always be on top and text on the bottom",
            "default": "flex-md-row",
            "options": [
                { "value": "flex-md-row", "label": "Left" },
                { "value": "flex-md-row-reverse", "label": "Right" }
            ]
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container",
            "default": "container",
            "options": [
                { "value": "container", "label": "Container" },
                { "value": "container-fluid", "label": "Fluid" }
            ]
        },
        {
            "type": "select",
            "id": "img_border",
            "label": "Image border",
            "default": "",
            "options": [
                { "value": "", "label": "None" },
                { "value": "img-thumbnail", "label": "Thumbnail" }
            ]
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-center",
             "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" },
               { "value": "text-end", "label": "Right" }
            ]
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "bg-body text-body",
            "options": [
                { "group": "Light", "value": "bg-body text-body", "label": "Body" },
                { "group": "Light", "value": "bg-white text-body", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" },
                { "group": "Alert", "value": "bg-success text-white", "label": "Success" },
                { "group": "Alert", "value": "bg-warning text-white", "label": "Warning" },
                { "group": "Alert", "value": "bg-danger text-white", "label": "Danger" },
                { "group": "Alert", "value": "bg-info text-white", "label": "Info" }
            ]
        },
        {
            "type": "header",
            "content": "Media"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image mobile"
        },
        {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "Image desktop"
        },
        {
            "type": "url",
            "id": "video_mobile",
            "label": "Mobile Video URL",
            "info": "this is for mobile view. Remeber it is video  or image, but not both",
        },
        {
            "type": "url",
            "id": "video_desktop",
            "label": "Desktop Video URL", 
           "info": "this is for desktop view. Remeber it is video  or image, but not both",
        },
       
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "loop",
            "label": "Loop",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "muted",
            "label": "Muted",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "controls",
            "label": "Controls",
            "default": true
        },
        {
            "type": "header",
            "content": "Text"
        },
        {
            "type": "html",
            "id": "title",
            "label": "Title",
            "default": "duel-columns-with-media"
        },
        {
            "type": "range",
            "id": "title_font_size_mobile",
            "label": "Title font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 6
        },
        {
            "type": "range",
            "id": "title_font_size_desktop",
            "label": "Title font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 6
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
            "type": "range",
            "id": "description_font_size_mobile",
            "label": "Description font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "range",
            "id": "description_font_size_desktop",
            "label": "Description font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "header",
            "content": "Button"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button text",
            "info": "Leave empty to disable"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
        },
        {
            "type": "select",
            "id": "btn_color",
            "label": "Button color",
            "default": "btn-outline-primary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-light", "label": "Light Outline" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "select",
            "id": "btn_size",
            "label": "Button size",
            "default": "",
            "options": [
                { "value": "btn-sm", "label": "Small" },
                { "value": "", "label": "Normal" },
                { "value": "btn-lg", "label": "Large" }
            ]
        },
        {
            "type": "header",
            "content": "Visibility",
            "info": "Show/hide this section based on the screen resolution"
        },
        {
            "type": "checkbox",
            "id": "visibility_xs",
            "label": "Show on mobile",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "visibility_md",
            "label": "Show on tablet",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "visibility_lg",
            "label": "Show on desktop",
            "default": true
        },
        {
            "type": "header",
            "content": "Access"
        },
        {
            "type": "checkbox",
            "id": "access_guests",
            "label": "Guests",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "access_members",
            "label": "Members",
            "default": true
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "Item",
            "limit": 3,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image"
                },
              
                {
                    "type": "select",
                    "id": "text_align",
                    "label": "Text align",
                    "default": "text-start",
                    "options": [
                        { "value": "text-start", "label": "Left" },
                        { "value": "text-center", "label": "Center" }
                    ]
                },
                {
                    "type": "html",
                    "id": "title",
                    "label": "Title",
                    "default": "Some Title Goes Here"
                },
                {
                    "type": "range",
                    "id": "title_font_size_mobile",
                    "label": "Title font-size | mobile",
                    "min": 1,
                    "max": 12,
                    "default": 3
                },
                {
                    "type": "range",
                    "id": "title_font_size_desktop",
                    "label": "Title font-size | desktop",
                    "min": 1,
                    "max": 12,
                    "default": 6
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description",
                    "default": "<p>Pair large text with an image or video to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
                },
                {
                    "type": "range",
                    "id": "description_font_size_mobile",
                    "label": "Description font-size | mobile",
                    "min": 1,
                    "max": 12,
                    "default": 2
                },
                {
                    "type": "range",
                    "id": "description_font_size_desktop",
                    "label": "Description font-size | desktop",
                    "min": 1,
                    "max": 12,
                    "default": 2
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "duel-columns-with-media",
            "category": "General"
        }
    ]
}
{% endschema %}
