{% comment %}
---------------------------------------------------------
Copyright © 2024 Ecomify Theme. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
---------------------------------------------------------
{% endcomment %}
<div class="faq-popup" style="bottom: {{ section.settings.vertical_offset }}px;">
  <a href="#" class="btn btn-primary faq-popup-btn">{{ section.settings.popup_btn_text }}</a>
  <div class="faq-popup-inner">
      <div class="faq-popup-top">
          <div class="faq-popup-title">
            {% if section.settings.faq_popup_title != blank %}
              <h3 class="{{ section.settings.faq_title_font_size_mobile | prepend: 'fs-' }} {{ section.settings.faq_title_font_size_desktop | prepend: 'fs-lg-' }}">{{ section.settings.faq_popup_title }}</h3>
            {% endif %}
            <a href="#" class="faq-popup-close">&times;</a>
          </div>
          <div class="faq-popup-review-block">
           {% if section.settings.show_stars %}
              <div class="d-flex mb-0" style="color: #ffc107;">
                  {% for n in (1..5) %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill m-1" viewBox="0 0 16 16" aria-hidden="true">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                  {% endfor %}
                </div>
           {% endif %}
           {% if section.settings.review-ratting %}                 
           <div class="faq-popup-review-ratting">
              {{ section.settings.review-ratting }}
           </div>
           {% endif %}                 
         </div>
        {% if section.settings.detail != blank %}                    
        <div class="rte {{ section.settings.faq_description_font_size_mobile | prepend: 'fs-' }} {{ section.settings.faq_description_font_size_desktop | prepend: 'fs-lg-' }}">
          {{ section.settings.detail }}
        </div>
          {% endif %}
      </div>
     <div class="faq-popup-bottom">
         <div class="accordion {{ section.settings.accordion_style }}" id="accordion-{{ section.id }}">
           {% for block in section.blocks %}
               {% if block.settings.faq_heading != blank %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading-{{ block.id }}">
                    <button class="accordion-button {% unless section.settings.open_first_item == true and forloop.first %}collapsed{% endunless %}" 
                      type="button" 
                      data-bs-toggle="collapse" 
                      data-bs-target="#collapse-{{ block.id }}" 
                      aria-expanded="{% if section.settings.open_first_item == true and forloop.first %}true{% else %}false{% endif %}" 
                      aria-controls="collapse-{{ block.id }}">
                      {{ block.settings.faq_heading }}
                    </button>
                  </h2>
                  <div id="collapse-{{ block.id }}" class="accordion-collapse collapse {% if section.settings.open_first_item == true and forloop.first %}show{% endif %}" aria-labelledby="heading-{{ block.id }}" data-bs-parent="#accordion-{{ section.id }}">
                    <div class="accordion-body">
                      {{ block.settings.faq_content }}
                    </div>
                  </div>
                </div>
               {% endif %}
           {% endfor %} 
          </div> 
     </div>
    {% if section.settings.view_more_text != blank %}
     <div class="faq-popup-viewmore">
        <a href="{{ section.settings.view_more_link }}" class="btn btn-primary btn-sm w-100 mt-3">{{ section.settings.view_more_text }}</a>
     </div>  
    {% endif %}  
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var faqPopupBtn = document.querySelector('.faq-popup-btn');
    var faqPopup = document.querySelector('.faq-popup');
    var faqPopupClose = document.querySelector('.faq-popup-close');

    // Show FAQ popup on button click
    faqPopupBtn.addEventListener('click', function(event) {
      event.preventDefault();
      faqPopup.classList.add('show');
    });

    // Close FAQ popup on close button click
    faqPopupClose.addEventListener('click', function(event) {
      event.preventDefault();
      faqPopup.classList.remove('show');
    });
  });
</script>
{% schema %}
  {
    "name": "Faq widget",
    "settings": [
       {
          "type": "range",
          "id": "vertical_offset",
          "label": "Vertical offset",
          "min": 0,
          "max": 500,
          "step": 5,
          "default": 100,
          "unit": "px"
        },
        {
            "type": "select",
            "id": "accordion_style",
            "label": "Accordion style",
            "default": "accordion-default",
            "options": [
                { "value": "accordion-default", "label": "Default" },
                { "value": "accordion-flush", "label": "Flush (borderless)" },
                { "value": "accordion-fancy", "label": "Fancy" }
            ]
        },
        {
            "type": "checkbox",
            "id": "open_first_item",
            "label": "Open first item by default",
            "default": true
        },
        {
            "type": "text",
            "id": "popup_btn_text",
            "label": "Fix button text"
        },
        {
            "type": "text",
            "id": "faq_popup_title",
            "label": "Title"
        },
        {
            "type": "range",
            "id": "faq_title_font_size_mobile",
            "label": "Title font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 4
        },
        {
            "type": "range",
            "id": "faq_title_font_size_desktop",
            "label": "Title font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 4
        },
        {
            "type": "richtext",
            "id": "detail",
            "label": "Description"
        },
        {
            "type": "range",
            "id": "faq_description_font_size_mobile",
            "label": "Description font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "range",
            "id": "faq_description_font_size_desktop",
            "label": "Description font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "checkbox",
            "id": "show_stars",
            "label": "Show stars"
        },
        {
            "type": "header",
            "content": "View more button"
        },
        {
            "type": "text",
            "id": "view_more_text",
            "label": "label"
        },
        {
            "type": "url",
            "id": "view_more_link",
            "label": "link"
        }
    ],
    "blocks": [
                {
                    "type": "text",
                    "name": "Item",
                    "settings": [
                        {
                    "type": "text",
                    "id": "faq_heading",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "faq_content",
                    "label": "Content"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Faq widget",
            "category": "Text"
        }
    ]
  }
{% endschema %}