{% comment %}
---------------------------------------------------------
Copyright © 2024 Ecomify Theme. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
---------------------------------------------------------
{% endcomment %}

{% liquid
  assign pt = section.settings.pt | prepend: 'pt-'
  assign pb = section.settings.pb | prepend: 'pb-'
  assign mt = section.settings.mt | prepend: 'mt-'
  assign mb = section.settings.mb | prepend: 'mb-'

  assign bg_color = section.settings.bg_color

  if section.settings.bg_gradient
    assign bg_color = bg_color | append: ' bg-gradient'
  endif

  assign class = 'rounded ' | append: section.settings.video_bg_color

  if customer
    assign show_section = section.settings.access_members
  else
    assign show_section = section.settings.access_guests
  endif
%}

{% unless section.settings.bg_image_desktop == blank %}
  <style>
    @media (min-width: 768px) {
      #mp4-video-{{ section.id }} {
        background-image: url({{ section.settings.bg_image_desktop | img_url: '1600x' }});
        background-size: cover;
        background-attachment: fixed;
      }
    }
  </style>
{% endunless %}

{% unless section.settings.bg_image_mobile == blank %}
  <style>
    @media (max-width: 767px) {
      #mp4-video-{{ section.id }} {
        background-image: url({{ section.settings.bg_image_mobile | img_url: '800x' }});
        background-size: cover;
        background-attachment: scroll;
        max-height: 100vh; /* Ensure the section does not exceed the viewport height */
        overflow: hidden; /* Hide any overflow content */
      }
      #mp4-video-{{ section.id }} .carousel-item-video {
        max-height: 100vh; /* Ensure the video does not exceed the viewport height */
        object-fit: cover; /* Scale the video to cover the container */
      }
    }
  </style>
{% endunless %}

{% if show_section %}
  <section
    id="mp4-video-{{ section.id }}"
    class="mp4-video {{ bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}"
  >
    <div class="{{ section.settings.container }}">
      <div class="mx-auto" style="max-width: {{ section.settings.max_width }}px">
        {% render 'section-header' %}
        <div class="ratio {{ section.settings.ratio }}">
          {% if block.type == 'video' %}
            <div
              class="carousel-item {% if forloop.first == true %}active{% endif %}"
              data-index="{{ forloop.index0 }}"
              {{ block.shopify_attributes }}
            >
              {% unless block.settings.slide_link == blank %}
                <a href="{{ block.settings.slide_link }}" class="carousel-item-link">
              {% endunless %}
              {% if block.settings.video_mobile == blank and block.settings.video_desktop == blank %}
                {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'bg-secondary' }}
              {% else %}
                <div class="d-lg-none">
                  <video
                    class="carousel-item-video lazy-video rounded"
                    {% if block.settings.autoplay %}
                      autoplay
                    {% endif %}
                    {% if block.settings.loop %}
                      loop
                    {% endif %}
                    playsinline
                    preload="metadata"
                    {% if block.settings.muted %}
                      muted
                    {% endif %}
                    controls
                    aria-label="{{ block.settings.video_mobile.alt }}"
                    poster="{{ block.settings.video_mobile.preview_image | image_url: width: 960 }}"
                    style="
                      height: {% if block.settings.video_mobile_height > 0 %}{{ block.settings.video_mobile_height }}px;{% else %}auto;{% endif %};
                      opacity: {{ block.settings.video_mobile_opacity }};
                    "
                  >
                    {% for source in block.settings.video_mobile.sources %}
                      <source
                        data-src="{{ source.url }}"
                        type="{{ source.mime_type }}"
                      >
                    {% endfor %}
                    {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                    <img
                      src="{{ block.settings.video_mobile.preview_image | image_url: width: 960 }}"
                      width="960"
                      height="{{ 960 | divided_by: block.settings.video_mobile.preview_image.aspect_ratio | round }}"
                      alt="{{ block.settings.video_mobile.preview_image.alt }}"
                      loading="{% if section.settings.lazyload %}lazy{% else %}eager{% endif %}"
                      fetchpriority="{% if forloop.first %}high{% else %}low{% endif %}"
                    >
                    {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
                  </video>
                </div>
                <div class="d-none d-lg-block">
                  <video
                    class="carousel-item-video lazy-video rounded"
                    {% if block.settings.autoplay %}
                      autoplay
                    {% endif %}
                    {% if block.settings.loop %}
                      loop
                    {% endif %}
                    playsinline
                    preload="metadata"
                    {% if block.settings.muted %}
                      muted
                    {% endif %}
                    controls
                    aria-label="{{ block.settings.video_desktop.alt }}"
                    poster="{{ block.settings.video_desktop.preview_image | image_url: width: 1920 }}"
                    style="
                      height: {% if block.settings.video_desktop_height > 0 %}{{ block.settings.video_desktop_height }}px;{% else %}auto;{% endif %};
                      opacity: {{ block.settings.video_desktop_opacity }};
                    "
                    fetchpriority="{% if forloop.first %}high{% else %}low{% endif %}"
                  >
                    {% for source in block.settings.video_desktop.sources %}
                      <source
                        data-src="{{ source.url }}"
                        type="{{ source.mime_type }}"
                      >
                    {% endfor %}
                    {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                    <img
                      src="{{ block.settings.video_desktop.preview_image | image_url: width: 1920 }}"
                      width="1920"
                      height="{{ 1920 | divided_by: block.settings.video_desktop.preview_image.aspect_ratio | round }}"
                      alt="{{ block.settings.video_desktop.preview_image.alt }}"
                      loading="{% if section.settings.lazyload %}lazy{% else %}eager{% endif %}"
                    >
                    {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
                  </video>
                </div>
              {% endif %}
              {% if block.settings.video_mobile_blur > 0 or block.settings.video_desktop_blur %}
                <div
                  class="carousel-item-blur d-lg-none"
                  style="backdrop-filter: blur({{ block.settings.video_mobile_blur }}px);"
                ></div>
                <div
                  class="carousel-item-blur d-none d-lg-block"
                  style="backdrop-filter: blur({{ block.settings.video_desktop_blur }}px);"
                ></div>
              {% endif %}
              {{ caption }}
              {% unless block.settings.slide_link == blank %}
                </a>
              {% endunless %}
            </div>
          {% else %}
            <div class="d-lg-none">
              <video
                class="carousel-item-video lazy-video rounded"
                {% if section.settings.autoplay %}
                  autoplay
                {% endif %}
                {% if section.settings.loop %}
                  loop
                {% endif %}
                playsinline
                preload="metadata"
                {% if section.settings.muted %}
                  muted
                {% endif %}
                controls
                aria-label="{{ section.settings.video_mobile.alt }}"
                poster="{{ section.settings.video_mobile.preview_image | image_url: width: 960 }}"
                style="
                  height: {% if section.settings.video_mobile_height > 0 %}{{ section.settings.video_mobile_height }}px;{% else %}auto;{% endif %};
                  opacity: {{ section.settings.video_mobile_opacity }};
                "
              >
                {% for source in section.settings.video_mobile.sources %}
                  <source
                    data-src="{{ source.url }}"
                    type="{{ source.mime_type }}"
                  >
                {% endfor %}
                {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                <img
                  src="{{ section.settings.video_mobile.preview_image | image_url: width: 960 }}"
                  width="960"
                  height="{{ 960 | divided_by: section.settings.video_mobile.preview_image.aspect_ratio | round }}"
                  alt="{{ section.settings.video_mobile.preview_image.alt }}"
                  loading="{% if section.settings.lazyload %}lazy{% else %}eager{% endif %}"
                  fetchpriority="{% if forloop.first %}high{% else %}low{% endif %}"
                >
                {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
              </video>
            </div>
            <div class="d-none d-lg-block">
              <video
                class="carousel-item-video lazy-video rounded"
                {% if section.settings.autoplay %}
                  autoplay
                {% endif %}
                {% if section.settings.loop %}
                  loop
                {% endif %}
                playsinline
                preload="metadata"
                {% if section.settings.muted %}
                  muted
                {% endif %}
                controls
                aria-label="{{ section.settings.video_desktop.alt }}"
                poster="{{ section.settings.video_desktop.preview_image | image_url: width: 1920 }}"
                style="
                  height: {% if section.settings.video_desktop_height > 0 %}{{ section.settings.video_desktop_height }}px;{% else %}auto;{% endif %};
                  opacity: {{ section.settings.video_desktop_opacity }};
                "
                fetchpriority="{% if forloop.first %}high{% else %}low{% endif %}"
              >
                {% for source in section.settings.video_desktop.sources %}
                  <source
                    data-src="{{ source.url }}"
                    type="{{ source.mime_type }}"
                  >
                {% endfor %}
                {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                <img
                  src="{{ section.settings.video_desktop.preview_image | image_url: width: 1920 }}"
                  width="1920"
                  height="{{ 1920 | divided_by: section.settings.video_desktop.preview_image.aspect_ratio | round }}"
                  alt="{{ section.settings.video_desktop.preview_image.alt }}"
                  loading="{% if section.settings.lazyload %}lazy{% else %}eager{% endif %}"
                >
                {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
              </video>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
    "name": "MP4 Video",
    "settings": [
        {
            "type": "video",
            "id": "video_mobile",
            "label": "Video Mobile"
        },
        {
            "type": "video",
            "id": "video_desktop",
            "label": "Video Desktop"
        },
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "bg-body text-body",
            "options": [
                { "group": "Light", "value": "bg-body text-body", "label": "Body" },
                { "group": "Light", "value": "bg-white text-body", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" },
                { "group": "Alert", "value": "bg-success text-white", "label": "Success" },
                { "group": "Alert", "value": "bg-warning text-white", "label": "Warning" },
                { "group": "Alert", "value": "bg-danger text-white", "label": "Danger" },
                { "group": "Alert", "value": "bg-info text-white", "label": "Info" }
            ]
        },
      {
    "type": "image_picker",
    "id": "bg_image_desktop",
    "label": "Background image (Desktop)"
},
{
    "type": "image_picker",
    "id": "bg_image_mobile",
    "label": "Background image (Mobile)"
},
        {
            "type": "checkbox",
            "id": "bg_gradient",
            "label": "Background gradient",
            "default": false,
            "info": "Will not apply to light colors"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container",
            "default": "container",
            "options": [
                { "value": "container", "label": "Container" },
                { "value": "container-fluid", "label": "Fluid" }
            ]
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Max width (px)",
            "info": "Adjust container width (in pixels)",
            "default": "960"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-center",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "MP4 Video"
        },
        {
            "type": "range",
            "id": "title_font_size_mobile",
            "label": "Title font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 6
        },
        {
            "type": "range",
            "id": "title_font_size_desktop",
            "label": "Title font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 8
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description (optional)",
            "default": "<p>Add an optional description to this section</p>"
        },
        {
            "type": "range",
            "id": "description_font_size_mobile",
            "label": "Description font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "range",
            "id": "description_font_size_desktop",
            "label": "Description font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "header",
            "content": "Video"
        },
        {
            "type": "select",
            "id": "ratio",
            "label": "Aspect ratio",
            "default": "ratio-16x9",
            "options": [
                { "group": "Square", "value": "ratio-1x1", "label": "1x1" },
                { "group": "Horizontal", "value": "ratio-4x3", "label": "4x3" },
                { "group": "Horizontal", "value": "ratio-16x9", "label": "16x9" },
                { "group": "Horizontal", "value": "ratio-21x9", "label": "21x9" },
                { "group": "Vertical", "value": "ratio-3x4", "label": "3x4" },
                { "group": "Vertical", "value": "ratio-9x16", "label": "9x16" },
                { "group": "Vertical", "value": "ratio-9x21", "label": "9x21" }
            ]
        },
        {
            "type": "select",
            "id": "video_bg_color",
            "label": "Video bg color",
            "default": "bg-black",
            "options": [
                { "value": "bg-transparent", "label": "Transparent" },
                { "value": "bg-white", "label": "White" },
                { "value": "bg-black", "label": "Black" }
            ]
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "loop",
            "label": "Loop",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "muted",
            "label": "Muted",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "controls",
            "label": "Controls",
            "default": true
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "header",
            "content": "Access"
        },
        {
            "type": "checkbox",
            "id": "access_guests",
            "label": "Guests",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "access_members",
            "label": "Members",
            "default": true
        }
    ],
    "presets": [
        {
            "name": "MP4 Video",
            "category": "Media"
        }
    ]
}
{% endschema %}
