{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif

    if section.settings.bg_transparent and section.settings.bg_transparent_hover and request.page_type == 'index'
        assign bg_color = bg_color | append: ' navbar-hover navbar-transparent text-white'
    elsif section.settings.bg_transparent and request.page_type == 'index'
         assign bg_color = bg_color | append: ' navbar-transparent text-white'
    endif

    if section.settings.always_show_toggle
        assign navbar_mobile_classes = ''
        assign navbar_desktop_classes = 'd-none'
    else 
        assign navbar_mobile_classes = 'd-lg-none'
        assign navbar_desktop_classes = 'd-none d-lg-block'
    endif

    # Desktop logo logic
    assign logo_desktop = section.settings.logo
    assign logo_height_desktop = section.settings.logo_height_desktop
    for block in section.blocks
        if block.type == 'logo' and block.settings.url and request.path contains block.settings.url
            if block.settings.logo
                assign logo_desktop = block.settings.logo
                assign logo_height_desktop = block.settings.logo_height_desktop
                break
            endif
        endif
    endfor

    # Mobile logo logic
    if section.settings.logo_mobile
        assign logo_mobile = section.settings.logo_mobile
        assign logo_height_mobile = section.settings.logo_height_mobile
    else
        assign logo_mobile = logo_desktop
        assign logo_height_mobile = section.settings.logo_height_mobile
    endif

    for block in section.blocks
        if block.type == 'logo' and block.settings.url and request.path contains block.settings.url
            if block.settings.logo_mobile
                assign logo_mobile = block.settings.logo_mobile
                assign logo_height_mobile = block.settings.logo_height_mobile
                break
            elsif block.settings.logo
                assign logo_mobile = block.settings.logo
                assign logo_height_mobile = block.settings.logo_height_mobile
                break
            endif
        endif
    endfor

    # Desktop menu logic
    assign menu_desktop = section.settings.menu_desktop
    for block in section.blocks
        if block.type == 'logo' and block.settings.url and request.path contains block.settings.url
            if block.settings.menu_desktop != blank and block.settings.desktop_hide != true
                assign menu_desktop = block.settings.menu_desktop
                break
            elsif block.settings.desktop_hide
              assign menu_desktop = nil
              break
            endif
        endif
    endfor

    # Mobile menu logic
    assign menu_mobile = section.settings.menu_mobile
    for block in section.blocks
        if block.type == 'logo' and block.settings.url and request.path contains block.settings.url
            if block.settings.menu_mobile != blank and block.settings.mobile_hide != true
                assign menu_mobile = block.settings.menu_mobile
                break
            elsif block.settings.mobile_hide
                assign menu_mobile = nil
                break
            endif
        endif
    endfor

    # Utilities menu logic
    assign utilities_menu = section.settings.utilities_menu
    for block in section.blocks
        if block.type == 'logo' and block.settings.url and request.path contains block.settings.url
            if block.settings.utilities_menu != blank and block.settings.utilities_hide != true
                assign utilities_menu = block.settings.utilities_menu
                break
            elsif block.settings.utilities_hide
                assign utilities_menu = nil
                break
            endif
        endif
    endfor

    assign logo_height_desktop_x2 = logo_height_desktop | times: 2
    assign logo_height_mobile_x2 = logo_height_mobile | times: 2
%}

<nav 
    id="navbar-mobile" 
    class="navbar {{ navbar_mobile_classes }} {{ bg_color }} {{ section.settings.shadow }} {% if section.settings.bg_blur %}navbar-bg-blur{% endif %} {{ pt }} {{ pb }}">
    <div class="container d-block">
        <div class="row align-items-center">
            <div class="col-3">
                <ul class="nav flex-nowrap">
                    <a 
                        class="nav-link ms-n2"
                        href="#offcanvas-menu" 
                        data-bs-toggle="offcanvas" 
                        aria-controls="offcanvas-menu"
                        aria-label="{{ 'general.accessibility.menu' | t }}"
                        role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line>
                        </svg>
                        {% if section.settings.layout_mobile == 'navbar-mobile-with-search' %}
                            {% if section.settings.mobile_menu_label %}
                                <span class="ms-2 extra-small text-uppercase">
                                    {{ 'general.general.menu' | t }}
                                </span>
                            {% else %}
                                <span class="ms-10 extra-small text-uppercase"></span>
                            {% endif %}
                        {% endif %}
                    </a>
                </ul>
            </div>
            <div class="col-6 text-center">
                <a class="navbar-brand mx-auto py-0 {% if section.settings.logo_auto_invert %}logo-inverted{% endif %}" href="{{ routes.root_url }}">
                    {% if logo_mobile %}
                        <img
                            class="img-fluid"
                            src="{{ logo_mobile | image_url: height: logo_height_mobile_x2 }}" 
                            alt="{{ shop.name }}"
                            width="{{ logo_height_mobile | times: logo_mobile.aspect_ratio | round }}" 
                            height="{{ logo_height_mobile }}"
                            loading="lazy">
                    {% else %}
                        <span class="fs-5">
                            {{ shop.name }}
                        </span>
                    {% endif %}
                </a>
            </div>
            <div class="col-3">
                <ul class="nav justify-content-end flex-nowrap">
                    {% if section.settings.layout_mobile == 'navbar-mobile-with-search' %}
                        <a 
                            class="nav-link px-3"
                            href="#offcanvas-search" 
                            data-bs-toggle="offcanvas" 
                            aria-controls="offcanvas-search"
                            aria-label="{{ 'general.accessibility.search' | t }}"
                            role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                        </a>
                    {% endif %}
                    {% if shop.customer_accounts_enabled and section.settings.always_show_toggle %}
                        <a 
                            class="nav-link d-none d-lg-block {% if template.name == 'login' or template.name == 'account' %}active{% endif %}" 
                            aria-current="{% if template.name == 'login' or template.name == 'account' %}page{% endif %}" 
                            href="{{ routes.account_url }}"
                            aria-label="{{ 'general.accessibility.account' | t }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                        </a>
                    {% endif %}
                    {% if settings.wishlist_enable and section.settings.always_show_toggle %}
                        <a 
                            class="wishlist-icon nav-link d-none d-lg-block"
                            href="#offcanvas-wishlist"
                            data-bs-toggle="offcanvas" 
                            aria-controls="offcanvas-wishlist" 
                            aria-label="{{ 'general.accessibility.wishlist' | t }}"
                            role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                            <span 
                                class="wishlist-count-badge badge {% if section.settings.bg_color contains 'bg-primary' %}bg-white text-dark{% else %}bg-primary{% endif %}" 
                                aria-live="polite"
                                aria-atomic="true"
                                hidden>
                            </span>
                        </a>
                    {% endif %}
                    <a 
                        class="cart-icon nav-link me-n2" 
                        {% if settings.cart_drawer_disable == true or request.page_type == 'cart' %}
                            href="{{ routes.cart_url }}" 
                        {% else %}
                            href="#offcanvas-cart" 
                            data-bs-toggle="offcanvas" 
                            aria-controls="offcanvas-cart" 
                            role="button"
                        {% endif %}
                        aria-label="{{ 'general.accessibility.cart' | t }} {{ cart.item_count }}">
                        {% render 'cart-icon' %}
                        <span 
                            class="cart-count-badge badge {% if section.settings.bg_color contains 'bg-primary' %}bg-white text-body{% else %}bg-primary{% endif %}"
                            {% if cart.item_count == 0 %}hidden{% endif %}>
                            {{ cart.item_count }}
                        </span>
                    </a>  
                </ul>
            </div>
        </div>
    </div>
</nav>

<nav 
    id="navbar-desktop" 
    class="navbar {{ navbar_desktop_classes }} {{ bg_color }} {{ section.settings.shadow }} {{ section.settings.menu_desktop_trigger }} {% if section.settings.bg_blur %}navbar-bg-blur{% endif %} {{ pt }} {{ pb }}">
    <div class="{{ section.settings.container }}">
        <div class="row align-items-center flex-grow-1">
            <div class="{% if section.settings.layout_desktop == 'navbar-desktop-logo-left' %}col-3{% else %}col-2 order-1 text-center{% endif %}">
                    <a class="navbar-brand me-auto py-0 {% if section.settings.logo_auto_invert %}logo-inverted{% endif %}" href="{{ routes.root_url }}">
                        {% if logo_desktop %}
                            <img
                                class="img-fluid"
                                src="{{ logo_desktop | image_url: height: logo_height_desktop_x2 }}" 
                                alt="{{ shop.name }}"
                                width="{{ logo_height_desktop | times: logo_desktop.aspect_ratio | round }}" 
                                height="{{ logo_height_desktop }}"
                                loading="lazy">
                        {% else %}
                            <span class="fs-5">
                                {{ shop.name }}
                            </span>
                        {% endif %}
                </a>
            </div>
            <div class="{% if section.settings.layout_desktop == 'navbar-desktop-logo-left' %}col-6{% else %}col-5 order-0{% endif %}">
                {% render 'navbar-megamenu', menu_desktop: menu_desktop %}
            </div>
            <div class="{% if section.settings.layout_desktop == 'navbar-desktop-logo-left' %}col-3{% else %}col-5 order-2{% endif %}">
                {% render 'navbar-desktop-icons', menu_desktop: menu_desktop %}
            </div>
        </div>
    </div>
</nav>

{% render 'offcanvas-menu', menu_mobile: menu_mobile, utilities_menu: utilities_menu %}

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": {{ shop.name | json }},
        {% if section.settings.logo %}
            "logo": {{ section.settings.logo | image_url: width: 500 | prepend: "https:" | json }},
        {% endif %}
        "sameAs": [
            {{ settings.social_facebook | json }},
            {{ settings.social_twitter | json }},
            {{ settings.social_instagram | json }},
            {{ settings.social_pinterest | json }},
            {{ settings.social_tiktok | json }},
            {{ settings.social_snapchat | json }},
            {{ settings.social_snapchat | json }},
            {{ settings.social_youtube | json }},
            {{ settings.social_linkedin | json }}
        ],
        "url": {{ request.origin | append: page.url | json }}
    }
</script>
  
{%- if request.page_type == 'index' -%}
    {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": {{ shop.name | json }},
            "potentialAction": {
                "@type": "SearchAction",
                "target": {{ potential_action_target | json }},
                "query-input": "required name=search_term_string"
            },
            "url": {{ request.origin | append: page.url | json }}
        }
    </script>
{%- endif -%}

{% schema %}
{
    "name": "Navbar",
    "class": "sticky-top",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select", 
            "id": "bg_color",
            "label": "Background color",
            "default": "bg-body text-body",
            "options": [
                { "group": "Light", "value": "bg-body text-body", "label": "Body" },
                { "group": "Light", "value": "bg-white text-body", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" },
                { "group": "Alert", "value": "bg-success text-white", "label": "Success" },
                { "group": "Alert", "value": "bg-warning text-white", "label": "Warning" },
                { "group": "Alert", "value": "bg-danger text-white", "label": "Danger" },
                { "group": "Alert", "value": "bg-info text-white", "label": "Info" }
            ]
        },
        {
            "type": "checkbox",
            "id": "bg_gradient",
            "label": "Background gradient",
            "default": false,
            "info": "Will not apply to light colors"
        },
        {
            "type": "checkbox",
            "id": "bg_transparent",
            "label": "Background transparent",
            "default": true,
            "info": "Applies only in the homepage."
        },
        {
            "type": "checkbox",
            "id": "logo_auto_invert",
            "label": "Logo auto invert",
            "default": false,
            "info": "Inverts the logo when background is transparent. usefull for dark logos."
        },
        {
            "type": "checkbox",
            "id": "bg_transparent_hover",
            "label": "Background transparent hover effect",
            "default": false,
            "info": "Applies only in the homepage. When hovering on transparent it will show"
        },
        {
            "type": "checkbox",
            "id": "bg_blur",
            "label": "Background blur effect",
            "default": true
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container",
            "default": "container",
            "options": [
                { "value": "container", "label": "Container" },
                { "value": "container-fluid", "label": "Fluid" }
            ]
        },
        {
            "type": "select",
            "id": "shadow",
            "label": "Shadow",
            "options": [
                { "value": "shadow-none", "label": "No shadow" },
                { "value": "shadow-sm", "label": "Shadow sm" },
                { "value": "shadow", "label": "Shadow" },
                { "value": "shadow-lg", "label": "Shadow lg" }
            ],
            "default": "shadow-sm"
        },
        {
            "type": "select",
            "id": "layout_mobile",
            "label": "Layout - mobile",
            "options": [
                { "value": "navbar-mobile-simple", "label": "Simple" },
                { "value": "navbar-mobile-with-search", "label": "With Search" }
            ],
            "default": "navbar-mobile-with-search"
        },
        {
            "type": "select",
            "id": "layout_desktop",
            "label": "Layout - desktop",
            "options": [
                { "value": "navbar-desktop-logo-left", "label": "Logo left (default)" },
                { "value": "navbar-desktop-logo-center", "label": "Logo center" }
            ],
            "default": "navbar-desktop-logo-left"
        },
        {
            "type": "checkbox",
            "id": "always_show_toggle",
            "label": "Always show the mobile toggler",
            "default": false
        },
        {
            "type": "header",
            "content": "Logo"
        },
        {
            "type": "image_picker",
            "id": "logo_mobile",
            "label": "Logo mobile"
        },
        {
            "type": "range",
            "id": "logo_height_mobile",
            "label": "Logo mobile height",
            "min": 20,
            "max": 100,
            "step": 2,
            "default": 40
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo desktop"
        },
        {
            "type": "range",
            "id": "logo_height_desktop",
            "label": "Logo desktop height",
            "min": 20,
            "max": 200,
            "step": 2,
            "default": 40
        },
        {
            "type": "header",
            "content": "Mobile menu"
        },
        {
            "type": "link_list",
            "id": "menu_mobile",
            "label": "Menu",
            "default": "main-menu"
        },
        {
            "type": "checkbox",
            "id": "mobile_menu_label",
            "label": "Mobile menu label",
            "default": true
        },
        {
            "type": "link_list",
            "id": "utilities_menu",
            "label": "Utilities menu"
        },
        {
            "type": "checkbox",
            "id": "offcanvas_menu_show_social_icons",
            "label": "Show social icons",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "offcanvas_menu_show_header_login",
            "label": "Show \"Login options\" in the header",
            "default": true
        },
        {
            "type": "select",
            "id": "menu_mobile_font_family",
            "label": "Font-family",
            "default": "",
            "options": [
                { "value": "", "label": "Body" },
                { "value": "headings-font-family", "label": "Headings" }
            ]
        },
        {
            "type": "range",
            "id": "menu_mobile_font_size",
            "label": "Font-size",
            "min": 1,
            "max": 6,
            "default": 2
        },
        {
            "type": "select",
            "id": "lang_currency_btn_color",
            "label": "Language/currency button color",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-light", "label": "Light Outline" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ],
            "default": "btn-outline-primary"
        },
        {
            "type": "checkbox",
            "id": "offcavas_menu_show_cart_upsells",
            "label": "Show cart upsells",
            "default": true
        },
        {
            "type": "header",
            "content": "Desktop menu"
        },
        {
            "type": "link_list",
            "id": "menu_desktop",
            "label": "Menu",
            "default": "main-menu"
        },
        {
            "type": "select",
            "id": "menu_desktop_trigger",
            "label": "Trigger",
            "options": [
                { "value": "menu-desktop-click", "label": "Click (recommended)" },
                { "value": "menu-desktop-hover", "label": "Hover" }
            ],
            "default": "menu-desktop-click"
        },
        {
            "type": "select",
            "id": "menu_desktop_font_family",
            "label": "Font-family",
            "default": "",
            "options": [
                { "value": "", "label": "Body" },
                { "value": "headings-font-family", "label": "Headings" }
            ]
        },
        {
            "type": "range",
            "id": "menu_desktop_font_size",
            "label": "Font-size",
            "min": 1,
            "max": 6,
            "default": 2
        },
        {
            "type": "text",
            "id": "menu_desktop_img_size",
            "label": "Image size (px)",
            "info": "Width and height in pixesls. E.g 480x360",
            "default": "480x360"
        },
        {
            "type": "select",
            "id": "menu_desktop_img_thumbnail",
            "label": "Image thumbnail",
            "default": "img-thumbnail",
            "options": [
                { "value": "", "label": "None" },
                { "value": "img-thumbnail", "label": "Thumbnail" }
            ]
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 6,
            "step": 1,
            "default": 3
        }
    ],
    "blocks": [
        {
            "type": "logo",
            "name": "Conditional Logo and Menu",
            "settings": [
                {
                    "type": "header",
                    "content": "General"
                },
                {
                    "type": "url",
                    "id": "url",
                    "info": "Specify where this configuration should apply",
                    "label": "Url path"
                },
                {
                    "type": "header",
                    "content": "Logo"
                },
                {
                    "type": "image_picker",
                    "id": "logo_mobile",
                    "label": "Logo mobile"
                },
                {
                    "type": "range",
                    "id": "logo_height_mobile",
                    "label": "Logo mobile height",
                    "min": 20,
                    "max": 100,
                    "step": 2,
                    "default": 40
                },
                {
                    "type": "image_picker",
                    "id": "logo",
                    "label": "Logo desktop"
                },
                {
                    "type": "range",
                    "id": "logo_height_desktop",
                    "label": "Logo desktop height",
                    "min": 20,
                    "max": 200,
                    "step": 2,
                    "default": 40
                },
                {
                    "type": "header",
                    "content": "Menus"
                },
                {
                    "type": "checkbox",
                    "id": "mobile_hide",
                    "label": "Hide mobile menu",
                    "info": "If enabled and mobile menu below is empty this will prevent it from reverting to the main mobile menu",
                    "default": true
                },
                {
                    "type": "link_list",
                    "id": "menu_mobile",
                    "label": "Mobile Menu"
                },
                {
                    "type": "checkbox",
                    "id": "desktop_hide",
                    "label": "Hide desktop menu",
                    "info": "If enabled and desktop menu below is empty this will prevent it from reverting to the main desktop menu",
                    "default": false
                },
                {
                    "type": "link_list",
                    "id": "menu_desktop",
                    "label": "Desktop Menu"
                },
                {
                    "type": "checkbox",
                    "id": "utilities_hide",
                    "label": "Hide utility menu",
                    "info": "If enabled and utility menu below is empty this will prevent it from reverting to the main utility menu",
                    "default": false
                },
                {
                    "type": "link_list",
                    "id": "utilities_menu",
                    "label": "Utilities Menu"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Navbar",
            "category": "Layout"
        }
    ]
}
{% endschema %}