<div class="prod_reviews_wrap">
    <div class="page-width">
      <h1>{{ section.settings.heading }}</h1>
      <div class="reviews_content_wrap">
     <div class="swiper-container reviews_div">
      
      <div class=" swiper-wrapper">
          {% for block in section.blocks %}
            <div class="review_item swiper-slide">
                <div class="content">
              {% if section.settings.enable_images %}
                {% assign author_img = block.settings.author_img %}
                <img
                  class="author_img"
                  srcset="
                    {%- if author_img.width >= 375 -%}{{ author_img | image_url: width: 375 }} 375w,{%- endif -%}
                    {%- if author_img.width >= 550 -%}{{ author_img | image_url: width: 550 }} 550w,{%- endif -%}
                    {%- if author_img.width >= 750 -%}{{ author_img | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if author_img.width >= 1100 -%}{{ author_img | image_url: width: 1100 }} 1100w,{%- endif -%}
                    {%- if author_img.width >= 1500 -%}{{ author_img | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {%- if author_img.width >= 1780 -%}{{ author_img | image_url: width: 1780 }} 1780w,{%- endif -%}
                    {%- if author_img.width >= 2000 -%}{{ author_img | image_url: width: 2000 }} 2000w,{%- endif -%}
                    {%- if author_img.width >= 3000 -%}{{ author_img | image_url: width: 3000 }} 3000w,{%- endif -%}
                    {%- if author_img.width >= 3840 -%}{{ author_img | image_url: width: 3840 }} 3840w,{%- endif -%}
                    {{ author_img | image_url }} {{ author_img.width }}w
                  "
                  sizes="(min-width: {{ settings.page_width }}px) 50px, (min-width: 750px) 50px, 50px"
                  loading="lazy"
                  alt="{{ author_img.alt | escape }}"
                  width="{{ author_img.width }}"
                  height="{{ author_img.width | divided_by: author_img.aspect_ratio }}"
                  src="{{ author_img | img_url: '50x50' }}"
                >
              {% endif %}
              <h4>{{ block.settings.author }}</h4>
              {% assign media = section.settings.review_img %}
              <img
                srcset="
                  {%- if media.width >= 375 -%}{{ media | image_url: width: 375 }} 375w,{%- endif -%}
                  {%- if media.width >= 550 -%}{{ media | image_url: width: 550 }} 550w,{%- endif -%}
                  {%- if media.width >= 750 -%}{{ media | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if media.width >= 1100 -%}{{ media | image_url: width: 1100 }} 1100w,{%- endif -%}
                  {%- if media.width >= 1500 -%}{{ media | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {%- if media.width >= 1780 -%}{{ media | image_url: width: 1780 }} 1780w,{%- endif -%}
                  {%- if media.width >= 2000 -%}{{ media | image_url: width: 2000 }} 2000w,{%- endif -%}
                  {%- if media.width >= 3000 -%}{{ media | image_url: width: 3000 }} 3000w,{%- endif -%}
                  {%- if media.width >= 3840 -%}{{ media | image_url: width: 3840 }} 3840w,{%- endif -%}
                  {{ media | image_url }} {{ media.width }}w
                "
                sizes="(min-width: {{ settings.page_width }}px) 100px, (min-width: 750px) 100px, 80px"
                loading="lazy"
                alt="{{ media.alt | escape }}"
                width="{{ media.width }}"
                height="{{ media.width | divided_by: media.aspect_ratio }}"
                src="{{ media | img_url: '100x20' }}"
              >
              <p>{{ block.settings.review }}</p>
            </div>
          </div>
        
          {% endfor %}
        </div>
     </div>
      </div>
    </div>
  </div>
  <style>
    .content{
      padding:10px;
    }
    .reviews_content .slick-track {
        padding: 15px 0;
    }
  .prod_reviews .swiper-slide-active{
    transition: all 0.4s ease-in-out;
  }
    .prod_reviews h1 {
        color: #fff;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        padding-bottom:40px;
    }
  
    .prod_reviews {
        background: #005155;
        padding: 30px 0 80px 0;
    }
    .prod_reviews .reviews_content_wrap {
        max-width: 1100px;
        margin: 0 auto;
    }
    .prod_reviews .review_item h4 {
        color: #fff;
        margin: 0 0 7px 0;
        text-transform: uppercase;
        font-weight: 700;
    }
    .prod_reviews .review_item p{
        margin-bottom:0;
    }
    .prod_reviews .review_item {
        border: 1px solid white;
        border-radius: 30px;
        color:#fff;
        padding: 35px 20px;
        text-align: center;
        margin: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 14px;
    }
  
    .review_item img {
        max-width: 90px;
        object-fit: contain;
    }
    .author_img {
        height: auto;
        max-width: 70px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    .prod_reviews .review_item.slick-current{
        transform: scale(1.1);
      transition: all 0.4s ease-in-out;
    }
    .more_reviews_link {
        margin: 20px;
        color: #fff;
        font-weight: 700;
    }
    .more_reviews_link.underline_arrowed::before {
        border-top: 1px dashed #fff;
    }
    .more_reviews_link.underline_arrowed::after{
        filter:invert(1);
    }
    .prod_reviews_wrap .swiper-wrapper{
      box-sizing: inherit;
      align-items: center;
      position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    }
    @media only screen and (min-width:768px){
        .reviews_content {
            display: flex;
        }
        .prod_reviews .review_item {
            width:33.33%;
        }
        .prod_reviews .review_item:nth-child(2) {
            transform: scale(1.1);
        }
        .prod_reviews_wrap .swiper-slide{
          flex-shrink: 1 !important;
          height: auto !important;
        }
    }
    @media only screen and (max-width:767px){
        .prod_reviews .reviews_content_wrap {
        max-width: 1100px;
        margin: 0 auto;
      overflow:hidden;
    }
        .more_reviews_link {
            margin-top:40px;
        }
        .reviews_content .slick-track{
            padding:25px 0;
            display: flex;
            align-items: center;
        }
        .prod_reviews {
            padding: 30px 0 40px 0;
        }
        .prod_reviews .review_item{
            margin:0px;
            padding:0px;
        }
    }
  </style>
  <script>
  
  if (window.innerWidth < 768) {
    const swiper = document.querySelector(".reviews_div");
    const bottomSlide = null;
    const bottomSlideContent = null; 
    const mySwiper = new Swiper(".reviews_div", {
      slidesPerView: 1.20,
      centeredSlides: true,
      loop: true,
      loopAdditionalSlides: 10,
      spaceBetween: 18,
        autoplay: {
        delay: 5000
       }
    });
  } 
    </script>
  {% schema %}
  {
    "name": "Product - Reviews",
    "tag": "section",
    "class": "prod_reviews spaced-section--full-width",
    "settings": [
      {
          "type": "checkbox",
          "id": "enable_images",
          "label": "Enable Author Image",
          "default":false
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "image_picker",
        "id": "review_img",
        "label": "Star Ratting Image"
      },
      {
          "type": "text",
          "id": "more_label",
          "label": "More Label",
          "default":"See More Reviews"
      },
      {
          "type": "url",
          "id": "more_link",
          "label": "More Link"
      }
    ],
    "blocks":[
    {
      "type":"review",
      "name":"Review",
      "settings":[
          {
              "type": "image_picker",
              "id": "author_img",
              "label": "Star Ratting Image"
          },
          {
              "type": "text",
              "id": "author",
              "default": "Author",
              "label": "Autor Name"
          },
          {
              "type": "text",
              "id": "review",
              "default": "Review body here",
              "label": "Review"
          }
      ]
    }
    ],
    "presets": [
      {
        "name": "Product - Reviews Section "
      }
    ]
  }
  {% endschema %}
  