{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

         if customer
        assign show_section = section.settings.access_members
    else
        assign show_section = section.settings.access_guests
    endif

       assign visibility = ''

    if section.settings.visibility_xs == false
        assign visibility = 'd-none'
    endif

    if section.settings.visibility_md
        assign visibility = ' d-md-block' | prepend: visibility
    else 
        assign visibility = ' d-md-none' | prepend: visibility
    endif

    if section.settings.visibility_lg
        assign visibility = ' d-lg-block' | prepend: visibility
    else 
        assign visibility = ' d-lg-none' | prepend: visibility
    endif
    
%}

{% if show_section %}
<section 
    id="bottle-features-{{ section.id }}" 
    class="bottle-features text-center text-white {{ section.settings.bg_color }} {{ pt }} {{ pb }} {{ mt }} {{ mb }} {{ visibility }}">
    <div class="container">
        <div class="mx-auto" style="max-width: {{ section.settings.header_max_width }}px;">
            {% unless section.settings.title == blank %}
                <h2 class="title mb-4 {{ section.settings.title_font_size_mobile | prepend: 'fs-' }} {{ section.settings.title_font_size_desktop | prepend: 'fs-lg-' }}">
                    {{ section.settings.title }}
                </h2>
            {% endunless %}
            {% unless section.settings.description == blank %}
                <div class="description rte mb-12 {{ section.settings.description_font_size_mobile | prepend: 'fs-' }} {{ section.settings.description_font_size_desktop | prepend: 'fs-lg-' }}">
                    {{ section.settings.description }}
                </div>
            {% endunless %}
        </div>
        <div class="position-relative enter-view">
            <div class="bottle-features-map-img-wrapper">
             <img
    class="img-fluid"
    src="{{ section.settings.map_image | img_url: 'master' }}"
    alt="{{ section.settings.map_image_alt }}"
    width="1739"
    height="791"
    loading="lazy">
            </div>
            <div class="bottle-features-bottle-img-wrapper">
                <div 
                    class="animate__animated animate__faster opacity-0"
                    data-animate-class="animate__zoomIn"
                    style="animation-delay: 200ms;">
                    <img
                        class="img-fluid"
                        src="{{ section.settings.image.src | image_url }}"
                        alt="{{ section.settings.image.alt | escape }}"
                        width="{{ section.settings.image.width }}"
                        height="{{ section.settings.image.height }}"
                        loading="lazy">
                </div>
            </div>
            <ul class="bottle-features-list list-unstyled">
                {% for block in section.blocks %}
                    <li class="">
                        <div 
                            class="animate__animated animate__faster opacity-0"
                            data-animate-class="animate__fadeIn"
                            style="animation-delay: {{ forloop.index | times: 200 }}ms;">
                            <div class="mb-2 mb-lg-4">
                                {{ block.settings.icon }}
                            </div>
                            {% unless block.settings.title == blank %}
                                <h3 class="title mb-0 {{ block.settings.block_title_font_size_mobile | prepend: 'fs-' }} {{ block.settings.block_title_font_size_desktop | prepend: 'fs-lg-' }}">

                                    {{ block.settings.title }}
                                </h3>
                            {% endunless %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</section>
  {% endif %}

{% schema %}
{
    "name": "product Features",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
       {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "bg-body text-body",
            "options": [
                { "group": "Light", "value": "bg-body text-body", "label": "Body" },
                { "group": "Light", "value": "bg-white text-body", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" },
                { "group": "Alert", "value": "bg-success text-white", "label": "Success" },
                { "group": "Alert", "value": "bg-warning text-white", "label": "Warning" },
                { "group": "Alert", "value": "bg-danger text-white", "label": "Danger" },
                { "group": "Alert", "value": "bg-info text-white", "label": "Info" }
            ]
        },
        {
            "type": "text",
            "id": "header_max_width",
            "label": "Header max-width (px)",
            "default": "920"
        },
      {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "This is for the main center image"
        },

        {
    "type": "image_picker",
    "id": "map_image",
    "label": "Map Image",
    "info": "Upload the map outline image here. Png  format when using  different background color"
},
{
    "type": "text",
    "id": "map_image_alt",
    "label": "Map Image ALT Text",
    "info": "Enter alternative text for the map image that describes what the image is about. This is important for SEO and accessibility."
},
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Image with text"
        },
       {
            "type": "range",
            "id": "title_font_size_mobile",
            "label": "Title font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 6
        },
        {
            "type": "range",
            "id": "title_font_size_desktop",
            "label": "Title font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 8
        },
      {
            "type": "checkbox",
            "id": "visibility_xs",
            "label": "Show on mobile",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "visibility_md",
            "label": "Show on tablet",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "visibility_lg",
            "label": "Show on desktop",
            "default": true
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
         {
            "type": "range",
            "id": "description_font_size_mobile",
            "label": "Description font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "range",
            "id": "description_font_size_desktop",
            "label": "Description font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 2
        },
       {
            "type": "checkbox",
            "id": "access_guests",
            "label": "Guests",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "access_members",
            "label": "Members",
            "default": true
        },

        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "Item",
            "settings": [
                {
                    "type": "html",
                    "id": "icon",
                    "label": "Icon (SVG)",
                    "info": "You may get svg icons from libraries like [Bootstrap Icons](https://icons.getbootstrap.com)"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Title Here"
                },
                  {
            "type": "range",
            "id": "block_title_font_size_mobile",
            "label": "block_Title font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "range",
            "id": "block_title_font_size_desktop",
            "label": "block_Title font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 4
        }
            ]
        }
    ],
    "presets": [
        {
            "name": "product Features",
            "category": "General"
        }
    ]
}
{% endschema %}