{% comment %}
---------------------------------------------------------
Copyright © 2024 Ecomify Theme. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
---------------------------------------------------------
{% endcomment %}

{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif
%}
<style>
  .rich_text_logo{
    width: 50px;
    height: auto;
    margin-bottom: 10px;
  }
  {% if section.settings.description_margin-top %}
   #richtext-{{ section.id }} .description{
     margin-top: 2rem !important;
   }
  {% endif %}
  @media only screen and (max-width: 767px) {
    .rich_text_logo {
        max-width: 35px;
    }
</style>
<section 
    id="richtext-{{ section.id }}" 
    class="richtext enter-view {{ bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="container {% unless section.settings.animation == '' %}animate__animated animate__faster opacity-0{% endunless %}"
        data-animate-class="{{ section.settings.animation }}"
        style="animation-delay: 0ms">
        <div class="mx-auto" style="max-width: {{ section.settings.max_width }}px">
              {% if section.settings.logo %}
                {% assign img = section.settings.logo %}
                <img
                  class="rich_text_logo"
                  srcset="
                    {%- if img.width >= 375 -%}{{ img | image_url: width: 375 }} 375w,{%- endif -%}
                    {%- if img.width >= 550 -%}{{ img | image_url: width: 550 }} 550w,{%- endif -%}
                    {%- if img.width >= 750 -%}{{ img | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if img.width >= 1100 -%}{{ img | image_url: width: 1100 }} 1100w,{%- endif -%}
                    {%- if img.width >= 1500 -%}{{ img | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ img | image_url }} 50w
                  "
                  sizes="(min-width: {{ settings.page_width }}px) 50px, 50px"
                  loading="lazy"
                  alt="{{ img.alt | escape }}"
                  width="{{ img.width }}"
                  height="{{ img.width | divided_by: img.aspect_ratio }}"
                  src="{{ img | image_url: width: 50 }}"
                >
            {% endif %}
            {% render 'section-header' %}
            {% unless section.settings.btn_text == blank %}
                <a 
                    class="btn mb-1 {{ section.settings.btn_color }} {{ section.settings.btn_size }}" 
                    href="{{ section.settings.btn_url }}">
                    {{ section.settings.btn_text }}
                </a>
            {% endunless %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Richtext",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "bg-body text-body",
            "options": [
                { "group": "Light", "value": "bg-body text-body", "label": "Body" },
                { "group": "Light", "value": "bg-white text-body", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" },
                { "group": "Alert", "value": "bg-success text-white", "label": "Success" },
                { "group": "Alert", "value": "bg-warning text-white", "label": "Warning" },
                { "group": "Alert", "value": "bg-danger text-white", "label": "Danger" },
                { "group": "Alert", "value": "bg-info text-white", "label": "Info" }
            ]
        },
      
        {
            "type": "checkbox",
            "id": "bg_gradient",
            "label": "Background gradient",
            "default": false,
            "info": "Will not apply to light colors"
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Max width (px)",
            "info": "Adjust container width (in pixels)",
            "default": "960"
        },
         {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-center",
             "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" },
               { "value": "text-end", "label": "Right" }
            ]
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo Icon"
        },
        {
            "type": "header",
            "content": "Text"
        },
        {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "default": "<p>Richtext</p>"
        },
        {
            "type": "range",
            "id": "title_font_size_mobile",
            "label": "Title font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 6
        },
        {
            "type": "range",
            "id": "title_font_size_desktop",
            "label": "Title font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 8
        },
        {
            "type": "checkbox",
            "id": "description_margin-top",
            "label": "Add margin above description",
            "default": false
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description (optional)",
            "default": "<p>Add on optional description to this section</p>"
        },
        {
            "type": "range",
            "id": "description_font_size_mobile",
            "label": "Description font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "range",
            "id": "description_font_size_desktop",
            "label": "Description font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "header",
            "content": "Button"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button text",
            "info": "Leave empty to disable"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
        },
        {
            "type": "select",
            "id": "btn_color",
            "label": "Button color",
            "default": "btn-primary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-light", "label": "Light Outline" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "select",
            "id": "btn_size",
            "label": "Button size",
            "default": "btn-md",
            "options": [
                { "value": "btn-sm", "label": "Small" },
                { "value": "btn-md", "label": "Normal" },
                { "value": "btn-lg", "label": "Large" }
            ]
        },
        {
            "type": "select",
            "id": "animation",
            "label": "Animation",
            "default": "animate__fadeInUp",
            "options": [
                { "group": "Disabled", "value": "", "label": "No animation" },
                { "group": "Fade", "value": "animate__fadeIn", "label": "Fade In" },
                { "group": "Fade", "value": "animate__fadeInDown", "label": "Fade-in-down" },
                { "group": "Fade", "value": "animate__fadeInLeft", "label": "Fade-in-left" },
                { "group": "Fade", "value": "animate__fadeInRight", "label": "Fade-in-right" },
                { "group": "Fade", "value": "animate__fadeInUp", "label": "Fade-in-up" },
                { "group": "Zoom", "value": "animate__zoomIn", "label": "Zoom-in" },
                { "group": "Zoom", "value": "animate__zoomInDown", "label": "Zoom-in-down" },
                { "group": "Zoom", "value": "animate__zoomInLeft", "label": "Zoom-in-left" },
                { "group": "Zoom", "value": "animate__zoomInRight", "label": "Zoom-in-right" },
                { "group": "Zoom", "value": "animate__zoomInUp", "label": "Zoom-in-up" },
                { "group": "Back", "value": "animate__backInDown", "label": "Back-in-down" },
                { "group": "Back", "value": "animate__backInLeft", "label": "Back-in-left" },
                { "group": "Back", "value": "animate__backInRight", "label": "Back-in-right" },
                { "group": "Back", "value": "animate__backInUp", "label": "Back-in-up" },
                { "group": "Bounce", "value": "animate__bounceIn", "label": "Bounce-in" },
                { "group": "Bounce", "value": "animate__bounceInDown", "label": "Bounce-in-down" },
                { "group": "Bounce", "value": "animate__bounceInLeft", "label": "Bounce-in-left" },
                { "group": "Bounce", "value": "animate__bounceInRight", "label": "Bounce-in-right" },
                { "group": "Bounce", "value": "animate__bounceInUp", "label": "Bounce-in-up" },
                { "group": "LightSpeed", "value": "animate__lightSpeedInLeft", "label": "LightSpeed-in-left" },
                { "group": "LightSpeed", "value": "animate__lightSpeedInRight", "label": "LightSpeed-in-right" }
            ]
        },
        {
            "type": "select",
            "id": "animation_speed",
            "label": "Animation speed",
            "default": "animate__fast",
            "options": [
                { "value": "animate__slower", "label": "Slower" },
                { "value": "animate__slow", "label": "Slow" },
                { "value": "", "label": "Normal" },
                { "value": "animate__fast", "label": "Fast" },
                { "value": "animate__faster", "label": "Faster" }
            ]
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "presets": [
        {
            "name": "Richtext",
            "category": "Text"
        }
    ]
}
{% endschema %}