{% comment %}
---------------------------------------------------------
Copyright © 2024 Ecomify Theme. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
---------------------------------------------------------
{% endcomment %}

{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign img_size = section.settings.product_img_width | append: 'x' | append: section.settings.product_img_height

    if customer
        assign show_section = section.settings.access_members
    else
        assign show_section = section.settings.access_guests
    endif

    assign visibility = ''

    if section.settings.visibility_xs == false
        assign visibility = 'd-none'
    endif

    if section.settings.visibility_md
        assign visibility = ' d-md-block' | prepend: visibility
    else 
        assign visibility = ' d-md-none' | prepend: visibility
    endif

    if section.settings.visibility_lg
        assign visibility = ' d-lg-block' | prepend: visibility
    else 
        assign visibility = ' d-lg-none' | prepend: visibility
    endif
%}

{% if show_section %}
<section 
    id="simple-collection-list-{{ section.id }}"
    class="simple-collection-list position-relative enter-view {{ pt }} {{ pb }} {{ mt }} {{ mb }}{{ visibility }}"
    style="background-color: {{ section.settings.bg_color }}">
    <div class="{% if section.settings.container %}container{% else %}container-fluid{% endif %}">
        <div class="header mb-7 {{ section.settings.header_text_align }}">
            {% unless section.settings.header_title == blank %}
                <h2 class="title {{ section.settings.title_font_size_mobile | prepend: 'fs-' }} {{ section.settings.title_font_size_desktop | prepend: 'fs-lg-' }} mb-2">
                    {{ section.settings.header_title }}
                </h2>
            {% endunless %}
            {% unless section.settings.header_description == blank %}
                <div class="description rte mb-2 opacity-70 {{ section.settings.header_description_size }}">
                    {{ section.settings.header_description }}
                </div>
            {% endunless %}
        </div>
        <ul class="list-unstyled mt-n3 mt-lg-n3 mb-n3">
            {% for product in collections[section.settings.collection].products %}
                <li 
                    class="m-3 m-lg-5 w-100 {% if section.settings.scroll_animations %}animate__animated animate__faster opacity-0{% endif %}"
                    data-animate-class="animate__zoomIn"
                    style="animation-delay: {{ forloop.index | times: 100 }}ms;">
                    <a class="img-wrapper text-decoration-none" href="{{ product.url }}">
                        <img 
                            class="product-img img-fluid rounded-circle mb-4"
                            src="{{ product.featured_image | img_url: img_size, crop: 'center' }}" 
                            alt="{{ product.featured_image.alt | escape }}"
                            width="{{ section.settings.product_img_width }}"
                            height="{{ section.settings.product_img_height }}"
                            loading="lazy">
                        <h4 class="h6 small fw-normal mb-4 {{ section.settings.title_truncate }}">
                            {{ product.title }}
                        </h4>
                    </a>
                </li>
            {% endfor %}
        </ul>
    
    </div>
</section>
{% endif %}

{% schema %}
{
    "name": "Simple Collection List",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#FFFFFF"
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in a container",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "scroll_animations",
            "label": "Scroll animations",
            "default": true
        },
        {
            "type": "header",
            "content": "Header"
        },
        {
            "type": "select",
            "id": "header_text_align",
            "label": "Text align",
            "default": "text-center",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" },
                { "value": "text-end", "label": "Right" }
            ]
        },
        {
            "type": "text",
            "id": "header_title",
            "label": "Title",
            "default": "Simple Collection List"
        },
        {
            "type": "range",
            "id": "title_font_size_mobile",
            "label": "Title font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 6
        },
        {
            "type": "range",
            "id": "title_font_size_desktop",
            "label": "Title font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 6
        },
        {
            "type": "header",
            "content": "Product"
        },
        {
            "type": "text",
            "id": "product_img_width",
            "label": "Image width (px)",
            "default": "160"
        },
        {
            "type": "text",
            "id": "product_img_height",
            "label": "Image height (px)",
            "default": "160"
        },
        {
            "type": "checkbox",
            "id": "access_guests",
            "label": "Guests",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "access_members",
            "label": "Members",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "visibility_xs",
            "label": "Show on mobile",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "visibility_md",
            "label": "Show on tablet",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "visibility_lg",
            "label": "Show on desktop",
            "default": true
        },
        {
            "type": "header",
            "content": "Spacing",
            "info": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/5.0/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 16,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 16,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 16,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 16,
            "step": 1,
            "default": 0
        },
        {
            "type": "select",
            "id": "title_truncate",
            "label": "Truncate product titles",
            "default": "",
            "info": "Useful if your product titles are long",
            "options": [
                { "value": "", "label": "No (default)" },
                { "value": "text-truncate", "label": "One line" },
                { "value": "text-truncate-2", "label": "Two lines" },
            ]
        }
        
    ],
    "presets": [
        {
            "name": "Simple Collection List",
            "category": "Products"
        }
    ]
}
{% endschema %}

