{% comment %}
---------------------------------------------------------
Copyright © 2024 Ecomify Theme. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
---------------------------------------------------------
{% endcomment %}

{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif

    case section.settings.img_orientation
        when 'square'
            assign img_width  = 900
            assign img_height = 900
        when 'landscape'
            assign img_width  = 900
            assign img_height = 720
        when 'landscape-x2'
            assign img_width  = 900
            assign img_height = 600
        when 'potrait'
            assign img_width  = 720
            assign img_height = 900
        when 'potrait-x2'
            assign img_width  = 600
            assign img_height = 900
    endcase
%}

<section 
    id="tabs-with-accordion-{{ section.id }}" 
    class="tabs-with-accordion faq enter-view {{ bg_color }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="container">
        <div class="mx-auto" style="max-width: {{ section.settings.max_width }}px">
           <div class="tab">
              {% for block in section.blocks %}
                      <button class="tablinks {% if forloop.first == true %}active{% endif %}" onclick="openCity(event, '{{ block.settings.heading | downcase | replace: ' ', '-' }}')">
                          <div class="tablink-inner">
                           {% if block.settings.icon != blank %}
                              <img 
                                src="{{ block.settings.icon | img_url: 'master' }}" 
                                alt="{{ block.settings.icon.alt }}"
                                width="{{ block.settings.icon.width }}"
                                height="{{ block.settings.icon.height }}"
                                >
                            {% endif %}
                            <span class="{{ block.settings.title_font_size_mobile | prepend: 'fs-' }} {{ block.settings.title_font_size_desktop | prepend: 'fs-lg-' }}">{{ block.settings.heading }}</span>
                          </div>
                      </button>
             {% endfor %}
           </div>  
        </div>
    </div>
</section>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>

{% schema %}
{
    "name": "Tabs with accordion",
    "class": "tabs-main",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "bg-body text-body",
            "options": [
                { "group": "Light", "value": "bg-body text-body", "label": "Body" },
                { "group": "Light", "value": "bg-white text-body", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" },
                { "group": "Alert", "value": "bg-success text-white", "label": "Success" },
                { "group": "Alert", "value": "bg-warning text-white", "label": "Warning" },
                { "group": "Alert", "value": "bg-danger text-white", "label": "Danger" },
                { "group": "Alert", "value": "bg-info text-white", "label": "Info" },
               { "group": "Dark", "value": "bg-brand-gradient text-white", "label": "Brand gradient" }
            ]
        },
        {
            "type": "checkbox",
            "id": "bg_gradient",
            "label": "Background gradient",
            "default": false,
            "info": "Will not apply to light colors"
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Max width (px)",
            "info": "Adjust container width (in pixels)",
            "default": "960"
        },
        
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "tab",
            "name": "Tab",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "icon",
                    "label": "Icon"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                  "type": "range",
                  "id": "title_font_size_mobile",
                  "label": "Heading font-size | mobile",
                  "min": 1,
                  "max": 12,
                  "default": 3
              },
              {
                  "type": "range",
                  "id": "title_font_size_desktop",
                  "label": "Heading font-size | desktop",
                  "min": 1,
                  "max": 12,
                  "default": 3
              }
                
            ]
        }
    ],
    "presets": [
        {
            "name": "Tabs with accordion",
            "category": "Text"
        }
    ]
}
{% endschema %}